In [1]:
import pandas as pd

In [35]:
'''prices_df = pd.read_csv('https://eco-prices-scrapes.s3.eu-west-2.amazonaws.com/teaching/redacted_prices_df.csv')
items_df = pd.read_csv('https://eco-prices-scrapes.s3.eu-west-2.amazonaws.com/teaching/redacted_items_df.csv')'''

In [2]:
items_df = pd.read_csv('https://eco-prices-scrapes.s3.eu-west-2.amazonaws.com/teaching/davies_price_data/db_item_clean.csv')

In [4]:
from tqdm import tqdm

# Add a progress bar to the reading process
prices_df = pd.read_csv('https://eco-prices-scrapes.s3.eu-west-2.amazonaws.com/teaching/davies_price_data/db_prices.csv', iterator=True, chunksize=1000)

prices_df = pd.concat([chunk for chunk in tqdm(prices_df, desc="Loading prices data")])
print(f"Loaded {len(prices_df)} rows of prices data")

KeyboardInterrupt:

In [60]:
items_df.columns

Index(['item_id', 'description', 'date_quote_s', 'date_quote_e', 'n_obs'], dtype='object')

In [45]:
full_df = pd.merge(prices_df, items_df[['item_id', 'description']], on='item_id') # merge prices and items
full_df

,quote_date,shop_code,item_id_raw,region,price,indicator_box,item_id,description
0,199108.0,2.0,210101,2.0,0.49000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
1,199007.0,10.0,210101,11.0,0.52000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
2,199007.0,2.0,210101,12.0,0.37000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
3,199811.0,179.0,210101,8.0,0.69000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
4,199108.0,1.0,210101,10.0,0.47000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
...,...,...,...,...,...,...,...,...
46689338,200704.0,441.0,640406,4.0,55.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689339,200701.0,731.0,640406,3.0,85.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689340,201210.0,5074.0,640406,3.0,40.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689341,200812.0,542.0,640406,2.0,45.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689342,202312.0,5084.0,640406,3.0,183.99001,NaN,640406,HOTEL 1 NIGHT PRICE

In [48]:
full_df['quote_date'] = pd.to_datetime(full_df['quote_date'], format='%Y%m') # convert quote_date to datetime, format is yearmonth
full_df

,quote_date,shop_code,item_id_raw,region,price,indicator_box,item_id,description
0,1991-08-01,2.0,210101,2.0,0.49000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
1,1990-07-01,10.0,210101,11.0,0.52000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
2,1990-07-01,2.0,210101,12.0,0.37000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
3,1998-11-01,179.0,210101,8.0,0.69000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
4,1991-08-01,1.0,210101,10.0,0.47000,NaN,210101,LARGE LOAF-WHITE-SLICED-800G
...,...,...,...,...,...,...,...,...
46689338,2007-04-01,441.0,640406,4.0,55.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689339,2007-01-01,731.0,640406,3.0,85.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689340,2012-10-01,5074.0,640406,3.0,40.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689341,2008-12-01,542.0,640406,2.0,45.00000,NaN,640406,HOTEL 1 NIGHT PRICE
46689342,2023-12-01,5084.0,640406,3.0,183.99001,NaN,640406,HOTEL 1 NIGHT PRICE

In [ ]:
# filter for items with keyword in the description
items_df[items_df['description'].str.contains('jacket', case=False)]

     item_id                   description  date_quote_s  date_quote_e   n_obs
820   510104              MENS JACKET/COAT        198802        202409  118210
830   510116    MEN'S BLAZER/FORMAL JACKET        199702        200301   16779
843   510129     MEN'S 3/4 COAT NOT JACKET        200402        200601    1948
848   510134     MENS FORMAL JACKET/BLAZER        202202        202409    9095
864   510208         WOMEN'S FORMAL JACKET        198802        202409  116900
873   510219   WOMEN'S CASUAL OUTER JACKET        199702        202409   88372
907   510256    WOMEN'S SHOWERPROOF JACKET        200602        202409   32944
946   510331  GIRL'S LTWEIGT CASUAL JACKET        200202        200601    8368
947   510333         CHILD'S JACKET/FLEECE        199902        200401   12207
954   510342          GIRL'S SUMMER JACKET        200604        201009    3817
955   510343          GIRL'S WINTER JACKET        200602        201101    5613
959   510347     GIRLS JACKET (5-13 YEARS)        201102        202409   51801

In [85]:
suit_items = {
    510104: "Jacket",
    510117: "Formal Trousers",
    510413: "Socks",
    510109: "Formal Shirt",
    510501: "Formal Shoes",
    510419: "Tie"
}

In [71]:
items_df[items_df['item_id'].isin(suit_items.keys())]

,item_id,description,date_quote_s,date_quote_e,n_obs
820,510104,MENS JACKET/COAT,198802,202409,118210
825,510109,MEN'S FORMAL SHIRT-LONG SLEEVE,198802,202409,134171
831,510117,MEN'S FORMAL RDY-MADE TROUSERS,199702,202409,100631
978,510413,MENS SOCKS 1 PAIR,198802,202409,128812
982,510419,MEN'S TIE,198802,202409,125224
1012,510501,MENS SHOE FORMAL STYLE,198802,202409,129472

In [76]:
# filter full_df to only include suit items
suit_df = full_df[full_df['item_id'].isin(suit_items.keys())] 

suit_df

,quote_date,shop_code,item_id_raw,region,price,indicator_box,item_id,description
29878954,1996-10-01,139.0,510104,4.0,35.000000,NaN,510104,MENS JACKET/COAT
29878955,2006-02-01,103.0,510104,3.0,35.000000,NaN,510104,MENS JACKET/COAT
29878956,2012-09-01,14.0,510104,9.0,40.000000,C,510104,MENS JACKET/COAT
29878957,1995-07-01,137.0,510104,9.0,30.000000,S,510104,MENS JACKET/COAT
29878958,1988-10-01,62.0,510104,6.0,19.250000,NaN,510104,MENS JACKET/COAT
...,...,...,...,...,...,...,...,...
36353176,2009-12-01,100.0,510501,3.0,39.990002,C,510501,MENS SHOE FORMAL STYLE
36353177,2010-08-01,13.0,510501,9.0,99.000000,NaN,510501,MENS SHOE FORMAL STYLE
36353178,2019-05-01,67.0,510501,10.0,18.000000,S,510501,MENS SHOE FORMAL STYLE
36353179,1996-08-01,167.0,510501,10.0,34.990002,NaN,510501,MENS SHOE FORMAL STYLE
36353180,2001-01-01,938.0,510501,2.0,35.000000,C,510501,MENS SHOE FORMAL STYLE

In [80]:
suit_avg = suit_df.groupby(['quote_date', 'description', 'item_id']).agg({'price': 'mean'}).reset_index()

suit_avg

     quote_date                     description  item_id       price
0    1988-02-01  MEN'S FORMAL SHIRT-LONG SLEEVE   510109   11.104623
1    1988-02-01                       MEN'S TIE   510419    3.696257
2    1988-02-01                MENS JACKET/COAT   510104   33.625988
3    1988-02-01          MENS SHOE FORMAL STYLE   510501   29.694830
4    1988-02-01               MENS SOCKS 1 PAIR   510413    2.074691
...         ...                             ...      ...         ...
2511 2024-09-01  MEN'S FORMAL SHIRT-LONG SLEEVE   510109   31.682232
2512 2024-09-01                       MEN'S TIE   510419   18.117333
2513 2024-09-01                MENS JACKET/COAT   510104  100.453925
2514 2024-09-01          MENS SHOE FORMAL STYLE   510501   74.477492
2515 2024-09-01               MENS SOCKS 1 PAIR   510413    3.929782

[2516 rows x 4 columns]

In [82]:
# Group by quote_date and filter dates where all item_ids are present
complete_dates = suit_avg.groupby('quote_date').filter(lambda x: set(suit_items.keys()).issubset(set(x['item_id'])))

# Find the earliest date
earliest_complete_date = complete_dates['quote_date'].min()

# Show the earliest date
earliest_complete_date

Timestamp('1997-02-01 00:00:00')

In [83]:
# filter for data after the earliest complete date
suit_avg = suit_avg[suit_avg['quote_date'] >= earliest_complete_date]

In [86]:
# add a item_name col with the values from suit_items to the description column
suit_avg['item_name'] = suit_avg['item_id'].map(suit_items)

suit_avg

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_81782/440126836.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  suit_avg['item_name'] = suit_avg['item_id'].map(suit_items)

,quote_date,description,item_id,price,item_name
524,1997-02-01,MEN'S FORMAL RDY-MADE TROUSERS,510117,33.283428,Formal Trousers
525,1997-02-01,MEN'S FORMAL SHIRT-LONG SLEEVE,510109,17.969618,Formal Shirt
526,1997-02-01,MEN'S TIE,510419,8.826154,Tie
527,1997-02-01,MENS JACKET/COAT,510104,54.861907,Jacket
528,1997-02-01,MENS SHOE FORMAL STYLE,510501,40.372837,Formal Shoes
...,...,...,...,...,...
2511,2024-09-01,MEN'S FORMAL SHIRT-LONG SLEEVE,510109,31.682232,Formal Shirt
2512,2024-09-01,MEN'S TIE,510419,18.117333,Tie
2513,2024-09-01,MENS JACKET/COAT,510104,100.453925,Jacket
2514,2024-09-01,MENS SHOE FORMAL STYLE,510501,74.477492,Formal Shoes
2515,2024-09-01,MENS SOCKS 1 PAIR,510413,3.929782,Socks

In [87]:
suit_avg.to_csv('data/suit_avg.csv', index=False)

In [57]:
# find the earliest date where all items are available
earliest_date = monthly_avg_price.groupby('quote_date').item_id.count().idxmax()

# show the earliest date
monthly_avg_price[monthly_avg_price['quote_date'] == earliest_date]

      item_id                     description quote_date       price
420    510109  MEN'S FORMAL SHIRT-LONG SLEEVE 2023-02-28   31.336541
752    510117  MEN'S FORMAL RDY-MADE TROUSERS 2023-02-28   47.210282
784    510134       MENS FORMAL JACKET/BLAZER 2023-02-28  124.910720
1224   510413               MENS SOCKS 1 PAIR 2023-02-28    3.888231
1664   510419                       MEN'S TIE 2023-02-28   17.812285
1684   510439                       MENS BELT 2023-02-28   24.071749
2124   510501          MENS SHOE FORMAL STYLE 2023-02-28   72.590761

### II. Hotels

In [1]:
# load in regions data
region_df = pd.read_csv("https://eco-prices-scrapes.s3.eu-west-2.amazonaws.com/teaching/davies_price_data/db_region.csv")

region_df

NameError: name 'full_df' is not defined

In [ ]:
region_codes = {
    2: "London", 
    3: "South East",  # South East
    4: "South West",  # South West
    5: "East Anglia",  # East Anglia
    6: "East Midlands",  # East Midlands
    7: "West Midlands",  # West Midlands
    8: "Yorkshire & Humber",  # Yorkshire & Humber
    9: "North West",  # North West
    10: "North", # North
    11: "Wales", # Wales
    12: "Scotland", # Scotland
    13: "Northern Ireland"  # Northern Ireland
}