In [10]:
import pandas as pd

In [11]:
# read in wide dataset
rent = pd.read_csv('us_rent_data_wide.csv')
rent

,Unnamed: 0,location_name,location_type,location_fips_code,population,state,county,metro,bed_size,2017_01,...,2024_01,2024_02,2024_03,2024_04,2024_05,2024_06,2024_07,2024_08,2024_09,2024_10
0,0,United States,National,0,331097593,NaN,NaN,NaN,overall,1070.0,...,1377,1380,1389,1397,1404,1410,1413,1412,1404,1394
1,1,United States,National,0,331097593,NaN,NaN,NaN,1br,940.0,...,1210,1213,1220,1227,1234,1239,1242,1240,1234,1225
2,2,United States,National,0,331097593,NaN,NaN,NaN,2br,1059.0,...,1363,1366,1375,1382,1390,1396,1399,1397,1390,1380
3,3,California,State,6,39356104,California,NaN,NaN,overall,1741.0,...,2112,2119,2135,2146,2154,2163,2170,2174,2168,2157
4,4,California,State,6,39356104,California,NaN,NaN,1br,1511.0,...,1833,1839,1853,1863,1870,1877,1884,1887,1882,1872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475,3475,"Oakwood, GA",City,1357260,5132,Georgia,Hall County,"Gainesville, GA",1br,NaN,...,1459,1477,1498,1507,1497,1491,1479,1464,1459,1436
3476,3476,"Oakwood, GA",City,1357260,5132,Georgia,Hall County,"Gainesville, GA",2br,NaN,...,1342,1360,1378,1387,1378,1372,1361,1347,1343,1322
3477,3477,"Glendale, CO",City,830340,4580,Colorado,Arapahoe County,"Denver-Aurora-Lakewood, CO",overall,1309.0,...,1671,1683,1687,1687,1683,1706,1725,1740,1703,1665
3478,3478,"Glendale, CO",City,830340,4580,Colorado,Arapahoe County,"Denver-Aurora-Lakewood, CO",1br,1161.0,...,1481,1492,1496,1496,1492,1513,1530,1543,1511,1476
3479,3479,"Glendale, CO",City,830340,4580,Colorado,Arapahoe County,"Denver-Aurora-Lakewood, CO",2br,1468.0,...,1874,1887,1892,1892,1888,1913,1935,1951,1911,1867

In [12]:
rent = rent[rent['bed_size'] == '2br']
rent

,Unnamed: 0,location_name,location_type,location_fips_code,population,state,county,metro,bed_size,2017_01,...,2024_01,2024_02,2024_03,2024_04,2024_05,2024_06,2024_07,2024_08,2024_09,2024_10
2,2,United States,National,0,331097593,NaN,NaN,NaN,2br,1059.0,...,1363,1366,1375,1382,1390,1396,1399,1397,1390,1380
5,5,California,State,6,39356104,California,NaN,NaN,2br,1785.0,...,2166,2173,2189,2200,2208,2218,2225,2229,2223,2211
8,8,Texas,State,48,29243342,Texas,NaN,NaN,2br,1047.0,...,1278,1279,1282,1284,1287,1288,1289,1285,1278,1268
11,11,Florida,State,12,21634529,Florida,NaN,NaN,2br,1072.0,...,1535,1540,1547,1552,1555,1554,1552,1548,1540,1532
14,14,New York,State,36,19994379,New York,NaN,NaN,2br,1438.0,...,1818,1820,1838,1856,1880,1896,1905,1901,1887,1866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3467,3467,"Jersey Village, TX",City,4837612,7763,Texas,Harris County,"Houston-The Woodlands-Sugar Land, TX",2br,1216.0,...,1543,1510,1521,1507,1512,1504,1512,1524,1515,1497
3470,3470,"Stone Mountain, GA",City,1373816,6638,Georgia,DeKalb County,"Atlanta-Sandy Springs-Alpharetta, GA",2br,670.0,...,1518,1529,1532,1533,1532,1522,1526,1521,1519,1524
3473,3473,"Exton, PA",City,4224440,6272,Pennsylvania,Chester County,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",2br,1658.0,...,2445,2441,2444,2463,2464,2481,2494,2502,2485,2461
3476,3476,"Oakwood, GA",City,1357260,5132,Georgia,Hall County,"Gainesville, GA",2br,NaN,...,1342,1360,1378,1387,1378,1372,1361,1347,1343,1322
3479,3479,"Glendale, CO",City,830340,4580,Colorado,Arapahoe County,"Denver-Aurora-Lakewood, CO",2br,1468.0,...,1874,1887,1892,1892,1888,1913,1935,1951,1911,1867

In [13]:
# Identify columns starting with '20'
date_cols = [col for col in rent.columns if str(col).startswith('20')]

# Convert those columns to datetime for easier manipulation
date_col_mapping = {col: pd.to_datetime(col, format='%Y_%m') for col in date_cols}
datetime_cols = pd.Series(date_col_mapping)

# Update the DataFrame to use datetime columns as column names temporarily
temp_rent = rent[date_cols].copy()
temp_rent.columns = datetime_cols.values

# Identify the most recent, one year before, and five years before columns
most_recent = temp_rent.columns.max()
one_year_prior = most_recent - pd.DateOffset(years=1)
five_years_prior = most_recent - pd.DateOffset(years=5)

# Ensure the columns exist in the dataset
valid_columns = temp_rent.columns
one_year_prior = one_year_prior if one_year_prior in valid_columns else None
five_years_prior = five_years_prior if five_years_prior in valid_columns else None

# Extract the values
rent['most_recent_value'] = temp_rent[most_recent]
rent['one_year_prior_value'] = temp_rent[one_year_prior] if one_year_prior else None
rent['five_years_prior_value'] = temp_rent[five_years_prior] if five_years_prior else None

# Calculate the percentage changes
rent['1_year_pct_change'] = (
    (rent['most_recent_value'] - rent['one_year_prior_value']) / rent['one_year_prior_value'] * 100
    if one_year_prior else None
)
rent['5_year_pct_change'] = (
    (rent['most_recent_value'] - rent['five_years_prior_value']) / rent['five_years_prior_value'] * 100
    if five_years_prior else None
)

rent

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_18787/661245780.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rent['most_recent_value'] = temp_rent[most_recent]
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_18787/661245780.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rent['one_year_prior_value'] = temp_rent[one_year_prior] if one_year_prior else None
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_18787/661245780.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rent['five_years_prior_value'] = temp_rent[five_years_prior] if five_years_prior else None
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_18787/661245780.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rent['1_year_pct_change'] = (
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_18787/661245780.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rent['5_year_pct_change'] = (

,Unnamed: 0,location_name,location_type,location_fips_code,population,state,county,metro,bed_size,2017_01,...,2024_06,2024_07,2024_08,2024_09,2024_10,most_recent_value,one_year_prior_value,five_years_prior_value,1_year_pct_change,5_year_pct_change
2,2,United States,National,0,331097593,NaN,NaN,NaN,2br,1059.0,...,1396,1399,1397,1390,1380,1380,1390,1150.0,-0.719424,20.000000
5,5,California,State,6,39356104,California,NaN,NaN,2br,1785.0,...,2218,2225,2229,2223,2211,2211,2216,1958.0,-0.225632,12.921348
8,8,Texas,State,48,29243342,Texas,NaN,NaN,2br,1047.0,...,1288,1289,1285,1278,1268,1268,1306,1106.0,-2.909648,14.647378
11,11,Florida,State,12,21634529,Florida,NaN,NaN,2br,1072.0,...,1554,1552,1548,1540,1532,1532,1562,1178.0,-1.920615,30.050934
14,14,New York,State,36,19994379,New York,NaN,NaN,2br,1438.0,...,1896,1905,1901,1887,1866,1866,1874,1544.0,-0.426894,20.854922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3467,3467,"Jersey Village, TX",City,4837612,7763,Texas,Harris County,"Houston-The Woodlands-Sugar Land, TX",2br,1216.0,...,1504,1512,1524,1515,1497,1497,1547,1316.0,-3.232062,13.753799
3470,3470,"Stone Mountain, GA",City,1373816,6638,Georgia,DeKalb County,"Atlanta-Sandy Springs-Alpharetta, GA",2br,670.0,...,1522,1526,1521,1519,1524,1524,1551,843.0,-1.740812,80.782918
3473,3473,"Exton, PA",City,4224440,6272,Pennsylvania,Chester County,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",2br,1658.0,...,2481,2494,2502,2485,2461,2461,2408,2161.0,2.200997,13.882462
3476,3476,"Oakwood, GA",City,1357260,5132,Georgia,Hall County,"Gainesville, GA",2br,NaN,...,1372,1361,1347,1343,1322,1322,1412,1076.0,-6.373938,22.862454
3479,3479,"Glendale, CO",City,830340,4580,Colorado,Arapahoe County,"Denver-Aurora-Lakewood, CO",2br,1468.0,...,1913,1935,1951,1911,1867,1867,1871,1631.0,-0.213789,14.469651

In [14]:
import json

# Filter rows where 'location_type' is 'City'
city_data = rent[rent['location_type'] == 'City']

# Sort by 'population' in descending order and select the top 20
top_cities = city_data.nlargest(20, 'population')

# Extract 'location_name' values and convert to a JSON format
top_cities_json = json.dumps(top_cities['location_name'].tolist())

# Save the JSON to a file
with open('top_cities.json', 'w') as json_file:
    json_file.write(top_cities_json)