In [1]:
import pandas as pd

In [2]:
# Read in ZORI metro data
zori_metro_wide = pd.read_csv('zori_metro_wide.csv')
zori_metro_wide

,RegionID,SizeRank,RegionName,RegionType,StateName,pop_2023,1/31/15,2/28/15,3/31/15,4/30/15,...,12/31/23,1/31/24,2/29/24,3/31/24,4/30/24,5/31/24,6/30/24,7/31/24,8/31/24,9/30/24
0,102001,0,United States,country,NaN,"335,893,238",1242.289688,1249.025207,1258.228660,1267.585683,...,1977.161448,1981.134048,1989.751341,2001.329357,2013.083020,2024.992818,2035.673920,2044.246569,2048.589250,2049.885652
1,394913,1,"New York, NY",msa,NY,"19,498,249",2358.422591,2373.827063,2392.346566,2413.503238,...,3237.484000,3241.452938,3260.248486,3292.313370,3321.640021,3355.901441,3384.713534,3402.829227,3408.143526,3397.349448
2,753899,2,"Los Angeles, CA",msa,CA,"12,799,100",1838.010077,1850.538514,1866.331712,1879.953935,...,2887.191192,2891.927500,2904.672694,2921.463850,2931.663944,2946.476179,2959.899652,2973.461372,2979.695642,2983.960991
3,394463,3,"Chicago, IL",msa,IL,"9,262,825",1399.429182,1406.244920,1416.037514,1425.008799,...,1938.487883,1948.287686,1962.821441,1977.033982,1997.523960,2016.067983,2033.575456,2042.615093,2045.885100,2044.046378
4,394514,4,"Dallas, TX",msa,TX,"8,100,037",1116.157758,1121.285115,1128.945188,1141.081647,...,1767.791291,1764.425172,1761.268413,1765.506605,1770.245618,1778.210210,1784.361840,1790.635871,1793.692760,1789.640286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,394687,875,"Hood River, OR",msa,OR,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2229.104452,2232.710257,2263.529384,2222.604684,2289.863204,2302.916667
638,394718,892,"Jamestown, ND",msa,ND,NaN,NaN,NaN,NaN,NaN,...,1170.411917,1149.711746,1139.198113,1142.828239,1161.187292,1174.721486,1185.294833,1205.991662,1218.605723,1245.111111
639,394996,915,"Portales, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,949.237076,958.978329,936.642975,947.378489,955.854033,974.060784,973.852517,977.987145,976.851696,978.255952
640,394805,916,"Los Alamos, NM",msa,NM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2347.761105,2300.000000
641,753880,930,"Fairfield, IA",msa,IA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,768.086318,759.250000

In [3]:
# drop rows with no population value
zori_metro_wide = zori_metro_wide.dropna(subset=['pop_2023'])

In [4]:
# convert pop_2023 to numeric
zori_metro_wide['pop_2023'] = pd.to_numeric(zori_metro_wide['pop_2023'].str.replace(',', ''), errors='coerce')

# sort by population
zori_metro_wide.sort_values(
    by = 'pop_2023',
    ascending = False,
    inplace = True
)

zori_metro_wide

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_35572/3410017692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_metro_wide['pop_2023'] = pd.to_numeric(zori_metro_wide['pop_2023'].str.replace(',', ''), errors='coerce')
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_35572/3410017692.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_metro_wide.sort_values(

,RegionID,SizeRank,RegionName,RegionType,StateName,pop_2023,1/31/15,2/28/15,3/31/15,4/30/15,...,12/31/23,1/31/24,2/29/24,3/31/24,4/30/24,5/31/24,6/30/24,7/31/24,8/31/24,9/30/24
0,102001,0,United States,country,NaN,335893238,1242.289688,1249.025207,1258.228660,1267.585683,...,1977.161448,1981.134048,1989.751341,2001.329357,2013.083020,2024.992818,2035.673920,2044.246569,2048.589250,2049.885652
1,394913,1,"New York, NY",msa,NY,19498249,2358.422591,2373.827063,2392.346566,2413.503238,...,3237.484000,3241.452938,3260.248486,3292.313370,3321.640021,3355.901441,3384.713534,3402.829227,3408.143526,3397.349448
2,753899,2,"Los Angeles, CA",msa,CA,12799100,1838.010077,1850.538514,1866.331712,1879.953935,...,2887.191192,2891.927500,2904.672694,2921.463850,2931.663944,2946.476179,2959.899652,2973.461372,2979.695642,2983.960991
3,394463,3,"Chicago, IL",msa,IL,9262825,1399.429182,1406.244920,1416.037514,1425.008799,...,1938.487883,1948.287686,1962.821441,1977.033982,1997.523960,2016.067983,2033.575456,2042.615093,2045.885100,2044.046378
4,394514,4,"Dallas, TX",msa,TX,8100037,1116.157758,1121.285115,1128.945188,1141.081647,...,1767.791291,1764.425172,1761.268413,1765.506605,1770.245618,1778.210210,1784.361840,1790.635871,1793.692760,1789.640286
5,394692,5,"Houston, TX",msa,TX,7510253,1247.859047,1251.555381,1258.476320,1268.530516,...,1671.841654,1675.590213,1681.314508,1686.633987,1694.843686,1704.665385,1714.464559,1719.646882,1722.493105,1723.164820
9,394347,9,"Atlanta, GA",msa,GA,6307261,1042.988063,1048.506493,1052.176595,1062.550217,...,1864.591758,1870.064811,1881.585010,1888.118435,1892.888726,1898.976677,1906.682991,1912.163194,1910.596959,1914.205588
6,395209,6,"Washington, DC",msa,VA,6304975,1741.491782,1748.201427,1759.735793,1768.318474,...,2305.865502,2311.030369,2325.642197,2348.384261,2367.993611,2386.090716,2405.272497,2422.155065,2430.870406,2430.352214
7,394974,7,"Philadelphia, PA",msa,PA,6246160,1243.024884,1249.767037,1262.200012,1268.903904,...,1807.586248,1809.379636,1816.662249,1825.850793,1834.133327,1841.023162,1850.351868,1859.869343,1867.800632,1872.535793
8,394856,8,"Miami, FL",msa,FL,6183199,1515.662432,1521.988866,1527.499551,1534.502543,...,2731.116860,2729.478311,2734.564942,2745.503743,2754.896590,2756.665435,2760.289387,2765.777957,2772.520301,2780.574069
11,394976,11,"Phoenix, AZ",msa,AZ,5070110,949.775033,964.523633,972.375847,985.956949,...,1827.862636,1828.009895,1836.289143,1847.109912,1857.130419,1862.914781,1862.864856,1863.325538,1862.695416,1863.486869
10,394404,10,"Boston, MA",msa,MA,4919179,1970.498444,1993.207830,2018.079295,2035.502649,...,2862.518391,2881.216178,2897.774874,2919.021551,2937.087134,2956.582024,2971.192806,2977.944920,2964.439807,2950.579861
13,395025,13,"Riverside, CA",msa,CA,4688053,1352.889127,1354.997185,1359.960385,1367.767981,...,2487.906527,2482.288283,2490.032237,2505.991251,2520.652162,2532.337732,2538.222533,2549.504231,2556.764366,2569.959235
12,395057,12,"San Francisco, CA",msa,CA,4566961,2313.105471,2321.662218,2355.376442,2390.874023,...,2971.078788,2975.387492,2991.247703,3014.379791,3034.950996,3055.662891,3070.302055,3082.728946,3090.710723,3090.437038
14,394532,14,"Detroit, MI",msa,MI,4342304,878.729307,882.845547,888.943886,896.158118,...,1420.905085,1425.728091,1428.840821,1439.474630,1449.873129,1463.885895,1472.126393,1482.271457,1488.719900,1491.409502
15,395078,15,"Seattle, WA",msa,WA,4044837,1377.393172,1385.583361,1400.073548,1409.750423,...,2166.563914,2173.696032,2187.560181,2205.476653,2224.170290,2245.243003,2261.194096,2274.284253,2276.059147,2273.427539
16,394865,16,"Minneapolis, MN",msa,MN,3712020,1153.522764,1160.016712,1169.004110,1178.485576,...,1618.828514,1624.720189,1636.343126,1648.562720,1658.340580,1665.144393,1670.925458,1674.659189,1679.108976,1680.139744
18,395148,18,"Tampa, FL",msa,FL,3342963,1078.040309,1081.219667,1085.335757,1093.294792,...,2057.816300,2057.253415,2058.806241,2064.192379,2068.581395,2069.552887,2071.992165,2079.504988,2086.779673,2089.115378
17,395056,17,"San Diego, CA",msa,CA,3269973,1698.815898,1710.305855,1719.720250,1722.853529,...,2962.507493,2954.008652,2964.153800,2984.015567,3010.583167,3029.930424,3048.016097,3059.607255,3062.325022,3059.988805
19,394530,19,"Denver, CO",msa,CO,3005131,1284.851213,1300.259524,1319.158101,1337.349219,...,1977.000654,1981.368759,1987.526671,2006.046371,2017.799513,2033.866177,2041.859464,2049.085406,2047.522717,2040.429585
20,394358,20,"Baltimore, MD",msa,MD,2834316,1357.880732,1361.932026,1367.471954,1372.377339,...,1819.732852,1824.072848,1831.054815,1841.512485,1852.911312,1868.724088,1883.130833,1894.055618,1898.934481,1899.632144
22,394943,22,"Orlando, FL",msa,FL,2817933,1152.283691,1158.493190,1166.258382,1175.482241,...,2013.827730,2017.966929,2025.048267,2034.330804,2045.929612,2057.162512,2067.601641,2072.623629,2070.044066,2066.918191
23,394458,23,"Charlotte, NC",msa,NC,2805115,1041.480738,1046.993188,1052.989773,1064.100681,...,1758.804117,1757.859968,1766.389141,1769.260726,1776.855047,1780.880949,1791.812404,1800.049585,1805.323307,1805.813209
21,395121,21,"St. Louis, MO",msa,MO,2796999,895.571537,897.054083,900.144813,905.498174,...,1346.341310,1347.759289,1352.799355,1362.041171,1374.092596,1382.183275,1392.365625,1400.996547,1408.908955,1408.552671
24,395055,24,"San Antonio, TX",msa,TX,2703999,1035.608252,1039.905701,1045.915641,1053.469083,...,1474.321351,1474.575365,1475.548430,1481.428284,1488.159469,1492.905289,1494.675690,1495.411212,1494.136022,1487.862707
25,394998,25,"Portland, OR",msa,OR,2508050,1157.562605,1165.775669,1183.882576,1200.583972,...,1794.059681,1795.022293,1807.534515,1819.039103,1837.640395,1854.067281,1870.152949,1881.566598,1883.940811,1884.693728
29,394355,29,"Austin, TX",msa,TX,2473275,1213.170568,1223.377347,1230.761506,1237.490937,...,1771.465543,1764.205702,1762.779763,1766.183048,1774.269723,1782.267111,1785.958630,1781.529488,1765.474032,1751.890667
27,394982,27,"Pittsburgh, PA",msa,PA,2422725,954.073260,961.257457,965.844671,971.570935,...,1346.291298,1354.116032,1361.529786,1360.766497,1361.734123,1370.723343,1383.532184,1391.815417,1396.418854,1400.261877
26,395045,26,"Sacramento, CA",msa,CA,2420608,1255.419386,1263.876496,1273.410320,1284.413418,...,2233.400246,2236.235075,2246.078907,2260.424951,2278.213601,2293.046667,2303.621931,2308.020774,2318.549789,2320.830850
30,394775,30,"Las Vegas, NV",msa,NV,2336573,994.459851,999.803004,1005.952701,1012.285877,...,1743.362105,1739.841701,1740.419722,1751.156421,1766.021203,1785.905255,1797.366347,1799.958449,1799.429166,1794.217118
28,394466,28,"Cincinnati, OH",msa,OH,2271479,866.389324,868.159944,874.017153,881.713664,...,1473.396696,1473.662023,1475.730015,1482.461583,1490.136307,1498.876468,1507.617528,1514.109041,1525.761422,1531.080690
31,394735,31,"Kansas City, MO",msa,MO,2221343,883.226712,886.759277,895.740241,900.179641,...,1414.960234,1419.944830,1426.325222,1431.199117,1437.876476,1449.561904,1461.815142,1472.238391,1477.029669,1479.004353
32,394492,32,"Columbus, OH",msa,OH,2180271,936.107507,937.630340,938.235392,941.662773,...,1518.727278,1521.744671,1527.266837,1529.677792,1544.370516,1554.814137,1573.051492,1585.347452,1595.614604,1599.485962
33,394705,34,"Indianapolis, IN",msa,IN,2138468,929.092858,931.506959,938.069363,942.070382,...,1494.057703,1500.735857,1511.372357,1517.985102,1520.678376,1525.649769,1532.418464,1549.485113,1557.477815,1564.241178
36,394902,37,"Nashville, TN",msa,TN,2102573,1172.603921,1177.023885,1192.106504,1197.042741,...,1844.949849,1845.314987,1851.929397,1862.166052,1873.017650,1886.308806,1899.154711,1906.494295,1906.854712,1898.956138
34,394475,35,"Cleveland, OH",msa,OH,2063132,865.259950,871.886143,876.885339,884.875384,...,1337.841954,1348.916834,1362.278133,1366.700188,1376.314752,1383.169695,1397.373793,1406.484586,1410.961121,1415.275439
35,395059,36,"San Jose, CA",msa,CA,1945767,2538.044366,2550.295527,2568.495190,2605.571688,...,3234.648265,3249.427362,3280.740821,3313.302909,3335.064985,3367.758820,3399.963076,3428.800636,3436.789659,3430.921183
37,395194,38,"Virginia Beach, VA",msa,VA,1787169,1111.508685,1112.397729,1116.251244,1120.751515,...,1696.111022,1691.575149,1698.954961,1710.925135,1726.534892,1741.346928,1751.976841,1768.712025,1778.280367,1786.771187
39,394714,40,"Jacksonville, FL",msa,FL,1713240,1018.380474,1020.644057,1025.553812,1028.929232,...,1697.139805,1702.616046,1708.146173,1721.931090,1726.331823,1731.493388,1733.429934,1737.512876,1740.325451,1743.854507
38,395005,39,"Providence, RI",msa,RI,1677803,1122.630354,1140.879108,1161.370233,1163.726141,...,2054.824776,2064.782383,2079.620920,2095.180475,2120.958274,2140.611757,2149.401548,2165.966403,2168.172255,2162.463552
40,394862,41,"Milwaukee, WI",msa,WI,1560424,928.406605,913.996617,921.428574,927.669085,...,1315.247816,1320.178821,1319.210829,1325.414917,1336.847538,1350.261230,1359.244853,1363.396613,1367.540509,1364.870024
42,395012,43,"Raleigh, NC",msa,NC,1509231,1119.723789,1122.427626,1130.257524,1136.144506,...,1749.429467,1747.170468,1756.481366,1760.847691,1767.476460,1774.700007,1784.215428,1791.656836,1792.190275,1783.161451
41,394935,42,"Oklahoma City, OK",msa,OK,1477926,933.090271,932.011224,939.125378,945.217990,...,1330.402486,1333.614353,1336.947444,1338.385055,1336.310951,1340.204989,1349.604624,1361.314883,1370.656244,1375.918914
45,394807,46,"Louisville, KY",msa,KY,1365557,828.835523,846.103982,853.506057,861.845098,...,1319.601915,1330.010408,1339.690431,1347.390541,1358.751811,1361.402076,1371.003397,1374.374350,1377.784468,1377.850266
44,395022,45,"Richmond, VA",msa,VA,1349732,977.413790,983.906497,990.577832,995.210776,...,1559.124213,1569.904960,1579.635934,1594.513911,1610.495848,1622.335529,1642.108846,1657.784773,1670.739393,1663.514686
43,394849,44,"Memphis, TN",msa,TN,1335674,931.782053,933.863431,935.034081,936.252307,...,1443.229489,1464.810809,1474.592820,1475.896361,1472.414787,1480.048016,1485.560940,1491.013843,1496.487776,1502.879903
47,395053,48,"Salt Lake City, UT",msa,UT,1267864,968.023730,971.086785,978.648123,986.514531,...,1644.392974,1645.203139,1652.948862,1657.856908,1667.410388,1677.449935,1689.972198,1696.959203,1697.045845,1693.938100
50,394388,51,"Birmingham, AL",msa,AL,1184290,944.532706,950.704266,959.709532,963.991229,...,1385.324837,1387.617609,1393.684240,1401.696952,1408.352891,1406.064101,1413.405170,1420.382075,1429.075533,1441.167463
52,394640,53,"Grand Rapids, MI",msa,MI,1162950,831.921280,836.771606,848.479156,864.313722,...,1552.273964,1560.367052,1561.445565,1569.134159,1574.161235,1585.350972,1594.789774,1603.812927,1616.243719,1619.685263
49,394425,50,"Buffalo, NY",msa,NY,1155604,781.709123,795.613724,806.838816,811.548139,...,1299.206741,1296.669023,1307.953565,1314.763361,1320.506011,1326.417014,1330.001165,1337.898745,1342.288549,1357.615617
48,394669,49,"Hartford, CT",msa,CT,1151543,1173.168189,1171.969678,1178.828822,1189.108386,...,1780.176373,1790.826155,1804.132084,1819.458511,1840.977412,1871.386763,1891.225862,1902.289488,1913.409341,1920.139081
53,395167,54,"Tucson, AZ",msa,AZ,1063162,876.199038,878.425603,881.711182,884.135314,...,1588.270856,1597.716218,1605.737178,1601.912977,1600.232763,1602.693078,1609.920103,1615.273699,1614.866034,1621.090639
51,395031,52,"Rochester, NY",msa,NY,1052087,897.559045,893.773500,901.204418,904.663132,...,1408.720283,1409.485263,1422.629353,1428.271111,1441.000082,1442.549171,1453.614238,1458.011526,1459.381891,1456.431005
54,753924,55,"Urban Honolulu, HI",msa,HI,989408,1933.609906,1946.849959,1953.680344,1957.614067,...,2575.780567,2582.982286,2600.125512,2622.801069,2631.872977,2649.914067,2662.383587,2680.446444,2685.722363,2693.099648
46,394910,47,"New Orleans, LA",msa,LA,962165,1133.960542,1142.701737,1147.442131,1165.961832,...,1584.469795,1583.746306,1591.841047,1597.976038,1606.579130,1608.751987,1613.477825,1615.479323,1622.179677,1635.125963

In [5]:
import json

# Filter rows where 'location_type' is 'City'
metro_data = zori_metro_wide[zori_metro_wide['RegionType'] == 'msa']

# Sort by 'population' in descending order and select the top 20
top_metros = metro_data.nlargest(50, 'pop_2023')

# Extract 'location_name' values and convert to a JSON format
top_metros_json = json.dumps(top_metros['RegionName'].tolist())

# Save the JSON to a file
with open('top_metros.json', 'w') as json_file:
    json_file.write(top_metros_json)

## Melting df

In [6]:
zori_metro_wide.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'pop_2023', '1/31/15', '2/28/15', '3/31/15', '4/30/15',
       ...
       '12/31/23', '1/31/24', '2/29/24', '3/31/24', '4/30/24', '5/31/24',
       '6/30/24', '7/31/24', '8/31/24', '9/30/24'],
      dtype='object', length=123)

In [7]:
index_cols = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'pop_2023']

In [8]:
# melt df
zori_metro_long = pd.melt(
    zori_metro_wide,
    id_vars = index_cols,
    value_vars = [col for col in zori_metro_wide.columns if col not in index_cols],
    var_name = "date",
    value_name = "zori"
)

zori_metro_long

,RegionID,SizeRank,RegionName,RegionType,StateName,pop_2023,date,zori
0,102001,0,United States,country,NaN,335893238,1/31/15,1242.289688
1,394913,1,"New York, NY",msa,NY,19498249,1/31/15,2358.422591
2,753899,2,"Los Angeles, CA",msa,CA,12799100,1/31/15,1838.010077
3,394463,3,"Chicago, IL",msa,IL,9262825,1/31/15,1399.429182
4,394514,4,"Dallas, TX",msa,TX,8100037,1/31/15,1116.157758
...,...,...,...,...,...,...,...,...
6430,394669,49,"Hartford, CT",msa,CT,1151543,9/30/24,1920.139081
6431,395167,54,"Tucson, AZ",msa,AZ,1063162,9/30/24,1621.090639
6432,395031,52,"Rochester, NY",msa,NY,1052087,9/30/24,1456.431005
6433,753924,55,"Urban Honolulu, HI",msa,HI,989408,9/30/24,2693.099648
6434,394910,47,"New Orleans, LA",msa,LA,962165,9/30/24,1635.125963

In [9]:
zori_metro_long['date'] = pd.to_datetime(zori_metro_long['date'])

zori_metro_long

,RegionID,SizeRank,RegionName,RegionType,StateName,pop_2023,date,zori
0,102001,0,United States,country,NaN,335893238,2015-01-31,1242.289688
1,394913,1,"New York, NY",msa,NY,19498249,2015-01-31,2358.422591
2,753899,2,"Los Angeles, CA",msa,CA,12799100,2015-01-31,1838.010077
3,394463,3,"Chicago, IL",msa,IL,9262825,2015-01-31,1399.429182
4,394514,4,"Dallas, TX",msa,TX,8100037,2015-01-31,1116.157758
...,...,...,...,...,...,...,...,...
6430,394669,49,"Hartford, CT",msa,CT,1151543,2024-09-30,1920.139081
6431,395167,54,"Tucson, AZ",msa,AZ,1063162,2024-09-30,1621.090639
6432,395031,52,"Rochester, NY",msa,NY,1052087,2024-09-30,1456.431005
6433,753924,55,"Urban Honolulu, HI",msa,HI,989408,2024-09-30,2693.099648
6434,394910,47,"New Orleans, LA",msa,LA,962165,2024-09-30,1635.125963

In [10]:
cities = pd.read_csv('uscities.csv')
cities

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18908608,11080.3,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11922389,3184.7,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8497759,4614.5,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6080145,4758.9,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5970127,1384.0,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31115,Kohatk,Kohatk,AZ,Arizona,4021,Pinal,32.5781,-112.0032,0,77.3,shape,False,False,America/Phoenix,3,85634,1840022983
31116,Ironville,Ironville,PA,Pennsylvania,42013,Blair,40.6586,-78.2155,0,59.2,shape,False,False,America/New_York,3,16686,1840152922
31117,Newkirk,Newkirk,NM,New Mexico,35019,Guadalupe,35.0635,-104.2715,0,0.0,shape,False,False,America/Denver,3,88417,1840024978
31118,Falcon Village,Falcon Village,TX,Texas,48427,Starr,26.5652,-99.1341,0,38.9,shape,False,False,America/Chicago,3,78545,1840018314
31119,Millerstown,Millerstown,PA,Pennsylvania,42013,Blair,40.2771,-78.3029,0,28.0,shape,False,False,America/New_York,3,16662,1840153020

In [11]:
# create an aligned name column

# create a name column with the City, StateID format
cities["name"] = cities["city"] + ", " + cities["state_id"]

# rename name column in zori df
zori_metro_long.rename(
    columns={
        "RegionName":"name"
    },
    inplace=True
)

In [12]:
cities['name']

0              New York, NY
1           Los Angeles, CA
2               Chicago, IL
3                 Miami, FL
4               Houston, TX
                ...
31115            Kohatk, AZ
31116         Ironville, PA
31117           Newkirk, NM
31118    Falcon Village, TX
31119       Millerstown, PA
Name: name, Length: 31120, dtype: object

In [13]:
# Merge the two DataFrames
zori_metro_long = zori_metro_long.merge(
    cities[['name', 'lat', 'lng']],  # Select only relevant columns from `cities`
    on='name',
    how='left'
)

zori_metro_long

,RegionID,SizeRank,name,RegionType,StateName,pop_2023,date,zori,lat,lng
0,102001,0,United States,country,NaN,335893238,2015-01-31,1242.289688,NaN,NaN
1,394913,1,"New York, NY",msa,NY,19498249,2015-01-31,2358.422591,40.6943,-73.9249
2,753899,2,"Los Angeles, CA",msa,CA,12799100,2015-01-31,1838.010077,34.1141,-118.4068
3,394463,3,"Chicago, IL",msa,IL,9262825,2015-01-31,1399.429182,41.8375,-87.6866
4,394514,4,"Dallas, TX",msa,TX,8100037,2015-01-31,1116.157758,32.7935,-96.7667
...,...,...,...,...,...,...,...,...,...,...
6430,394669,49,"Hartford, CT",msa,CT,1151543,2024-09-30,1920.139081,41.7661,-72.6834
6431,395167,54,"Tucson, AZ",msa,AZ,1063162,2024-09-30,1621.090639,32.1541,-110.8787
6432,395031,52,"Rochester, NY",msa,NY,1052087,2024-09-30,1456.431005,43.1680,-77.6162
6433,753924,55,"Urban Honolulu, HI",msa,HI,989408,2024-09-30,2693.099648,NaN,NaN
6434,394910,47,"New Orleans, LA",msa,LA,962165,2024-09-30,1635.125963,30.0687,-89.9288

In [14]:
zori_metro_long

,RegionID,SizeRank,name,RegionType,StateName,pop_2023,date,zori,lat,lng
0,102001,0,United States,country,NaN,335893238,2015-01-31,1242.289688,NaN,NaN
1,394913,1,"New York, NY",msa,NY,19498249,2015-01-31,2358.422591,40.6943,-73.9249
2,753899,2,"Los Angeles, CA",msa,CA,12799100,2015-01-31,1838.010077,34.1141,-118.4068
3,394463,3,"Chicago, IL",msa,IL,9262825,2015-01-31,1399.429182,41.8375,-87.6866
4,394514,4,"Dallas, TX",msa,TX,8100037,2015-01-31,1116.157758,32.7935,-96.7667
...,...,...,...,...,...,...,...,...,...,...
6430,394669,49,"Hartford, CT",msa,CT,1151543,2024-09-30,1920.139081,41.7661,-72.6834
6431,395167,54,"Tucson, AZ",msa,AZ,1063162,2024-09-30,1621.090639,32.1541,-110.8787
6432,395031,52,"Rochester, NY",msa,NY,1052087,2024-09-30,1456.431005,43.1680,-77.6162
6433,753924,55,"Urban Honolulu, HI",msa,HI,989408,2024-09-30,2693.099648,NaN,NaN
6434,394910,47,"New Orleans, LA",msa,LA,962165,2024-09-30,1635.125963,30.0687,-89.9288

## Market heat index

In [15]:
# Read in market temp
heat_metro_wide = pd.read_csv('zillow_temp_wide.csv')
heat_metro_wide

# drop rows with no population value
heat_metro_wide = heat_metro_wide.dropna(subset=['pop_2023'])

# convert pop_2023 to numeric
heat_metro_wide['pop_2023'] = pd.to_numeric(heat_metro_wide['pop_2023'].str.replace(',', ''), errors='coerce')

# sort by population
heat_metro_wide.sort_values(
    by = 'pop_2023',
    ascending = False,
    inplace = True
)

# melt df
heat_metro_long = pd.melt(
    heat_metro_wide,
    id_vars = index_cols,
    value_vars = [col for col in heat_metro_wide.columns if col not in index_cols],
    var_name = "date",
    value_name = "heat"
)

# convert date to datetime 
heat_metro_long['date'] = pd.to_datetime(heat_metro_long['date'])

# rename name column in heat df
heat_metro_long.rename(
    columns={
        "RegionName":"name"
    },
    inplace=True
)

# Merge the two DataFrames
heat_metro_long = heat_metro_long.merge(
    cities[['name', 'lat', 'lng']],  # Select only relevant columns from `cities`
    on='name',
    how='left'
)

heat_metro_long

,RegionID,SizeRank,name,RegionType,StateName,pop_2023,date,heat,lat,lng
0,102001,0,United States,country,NaN,335893238,2018-01-31,49.0,NaN,NaN
1,394913,1,"New York, NY",msa,NY,19498249,2018-01-31,53.0,40.6943,-73.9249
2,753899,2,"Los Angeles, CA",msa,CA,12799100,2018-01-31,68.0,34.1141,-118.4068
3,394463,3,"Chicago, IL",msa,IL,9262825,2018-01-31,48.0,41.8375,-87.6866
4,394514,4,"Dallas, TX",msa,TX,8100037,2018-01-31,55.0,32.7935,-96.7667
...,...,...,...,...,...,...,...,...,...,...
4450,394669,49,"Hartford, CT",msa,CT,1151543,2024-09-30,83.0,41.7661,-72.6834
4451,395167,54,"Tucson, AZ",msa,AZ,1063162,2024-09-30,50.0,32.1541,-110.8787
4452,395031,52,"Rochester, NY",msa,NY,1052087,2024-09-30,137.0,43.1680,-77.6162
4453,753924,55,"Urban Honolulu, HI",msa,HI,989408,2024-09-30,37.0,NaN,NaN
4454,394910,47,"New Orleans, LA",msa,LA,962165,2024-09-30,35.0,30.0687,-89.9288

In [16]:
heat_zori_metro = heat_metro_long.merge(
    zori_metro_long,
    on=[col for col in heat_metro_long.columns if col not in ['heat']],
    suffixes=('_heat', '_zori')
)

heat_zori_metro

,RegionID,SizeRank,name,RegionType,StateName,pop_2023,date,heat,lat,lng,zori
0,102001,0,United States,country,NaN,335893238,2018-01-31,49.0,NaN,NaN,1405.842990
1,394913,1,"New York, NY",msa,NY,19498249,2018-01-31,53.0,40.6943,-73.9249,2520.028880
2,753899,2,"Los Angeles, CA",msa,CA,12799100,2018-01-31,68.0,34.1141,-118.4068,2190.975308
3,394463,3,"Chicago, IL",msa,IL,9262825,2018-01-31,48.0,41.8375,-87.6866,1509.843282
4,394514,4,"Dallas, TX",msa,TX,8100037,2018-01-31,55.0,32.7935,-96.7667,1289.240890
...,...,...,...,...,...,...,...,...,...,...,...
4450,394669,49,"Hartford, CT",msa,CT,1151543,2024-09-30,83.0,41.7661,-72.6834,1920.139081
4451,395167,54,"Tucson, AZ",msa,AZ,1063162,2024-09-30,50.0,32.1541,-110.8787,1621.090639
4452,395031,52,"Rochester, NY",msa,NY,1052087,2024-09-30,137.0,43.1680,-77.6162,1456.431005
4453,753924,55,"Urban Honolulu, HI",msa,HI,989408,2024-09-30,37.0,NaN,NaN,2693.099648
4454,394910,47,"New Orleans, LA",msa,LA,962165,2024-09-30,35.0,30.0687,-89.9288,1635.125963

In [17]:
heat_zori_metro.to_csv('heat_zori_metro_clean.csv')

In [ ]:
# Step 1: Find the most recent date in the dataset
most_recent_date = heat_zori_metro['date'].max()

# Step 2: Calculate the 'most_recent_heat' and 'most_recent_zori' for each metro area
most_recent_data = heat_zori_metro[heat_zori_metro['date'] == most_recent_date]

# Step 3: Initialize the result DataFrame with 'name' and 'pop_2023' columns
result_df = most_recent_data[['name','pop_2023','lat','lng']].copy()
result_df['most_recent_heat'] = most_recent_data['heat']
result_df['most_recent_zori'] = most_recent_data['zori']
result_df['most_recent_date'] = most_recent_date

# Step 4: Calculate year-over-year percent changes for 'heat' and 'zori'
for years in range(1, 6):  # Loop for 1-year to 5-year changes
    # Calculate the date N years before the most recent date
    previous_date = most_recent_date - pd.DateOffset(years=years)

    # Filter data for the previous date for each metro area
    previous_data = heat_zori_metro[heat_zori_metro['date'] == previous_date]
    previous_data = previous_data.set_index('name')  # Set 'name' as index for easy lookup

    # Calculate percent change for 'heat' and 'zori'
    result_df[f'heat_{years}yc'] = (
        (result_df['most_recent_heat'] - result_df['name'].map(previous_data['heat'])) /
        result_df['name'].map(previous_data['heat'])
    ) * 100

    result_df[f'zori_{years}yc'] = (
        (result_df['most_recent_zori'] - result_df['name'].map(previous_data['zori'])) /
        result_df['name'].map(previous_data['zori'])
    ) * 100

In [21]:
result_df

,name,pop_2023,most_recent_heat,most_recent_zori,most_recent_date,heat_1yc,zori_1yc,heat_2yc,zori_2yc,heat_3yc,zori_3yc,heat_4yc,zori_4yc,heat_5yc,zori_5yc
4400,United States,335893238,52.0,2049.885652,2024-09-30,-11.864407,3.310258,-8.771930,6.475642,-26.760563,17.474560,-25.714286,32.719636,0.000000,34.823884
4401,"New York, NY",19498249,74.0,3397.349448,2024-09-30,-3.896104,3.172544,21.311475,6.716819,5.714286,22.642024,-10.843373,NaN,37.037037,25.983810
4402,"Los Angeles, CA",12799100,63.0,2983.960991,2024-09-30,-13.698630,2.603796,0.000000,4.683614,-26.744186,14.996615,-25.882353,27.272240,-1.562500,26.655969
4403,"Chicago, IL",9262825,58.0,2044.046378,2024-09-30,-9.375000,4.796274,5.454545,10.704955,1.754386,20.455492,0.000000,28.133411,31.818182,27.470381
4404,"Dallas, TX",8100037,48.0,1789.640286,2024-09-30,-18.644068,0.204891,-18.644068,0.390309,-36.842105,11.162320,-32.394366,27.583504,-4.000000,29.484628
4405,"Houston, TX",7510253,48.0,1723.164820,2024-09-30,-7.692308,2.476841,-7.692308,4.943826,-23.809524,11.903694,-18.644068,23.326590,2.127660,24.404723
4406,"Atlanta, GA",6307261,44.0,1914.205588,2024-09-30,-22.807018,1.160364,-15.384615,1.569436,-39.726027,10.224934,-34.328358,31.374506,-15.384615,38.032981
4407,"Washington, DC",6304975,68.0,2430.352214,2024-09-30,-5.555556,4.797782,7.936508,7.996310,3.030303,16.098040,-12.820513,24.644578,9.677419,23.681786
4408,"Philadelphia, PA",6246160,58.0,1872.535793,2024-09-30,-7.936508,3.748446,-3.333333,7.179627,-10.769231,15.986065,-24.675325,26.053955,9.433962,29.233944
4409,"Miami, FL",6183199,36.0,2780.574069,2024-09-30,-18.181818,2.446006,-21.739130,4.919645,-33.333333,23.910896,-23.404255,54.214660,-10.000000,57.040240
4410,"Phoenix, AZ",5070110,53.0,1863.486869,2024-09-30,-8.620690,1.007444,20.454545,1.190640,-27.397260,7.605653,-31.168831,33.246326,-17.187500,42.837460
4411,"Boston, MA",4919179,74.0,2950.579861,2024-09-30,-6.329114,3.291788,7.246377,8.556276,-5.128205,20.009176,-11.904762,NaN,23.333333,25.235368
4412,"Riverside, CA",4688053,59.0,2569.959235,2024-09-30,-9.230769,3.784828,0.000000,5.474319,-21.333333,14.538300,-28.915663,37.086130,-3.278689,46.514425
4413,"San Francisco, CA",4566961,68.0,3090.437038,2024-09-30,-16.049383,2.276657,19.298246,1.965038,-33.333333,7.752029,-45.161290,NaN,-6.849315,6.836617
4414,"Detroit, MI",4342304,52.0,1491.409502,2024-09-30,-14.754098,5.369430,8.333333,7.896278,-13.333333,16.726348,-30.666667,30.683813,20.930233,38.243677
4415,"Seattle, WA",4044837,55.0,2273.427539,2024-09-30,-14.062500,3.560276,41.025641,4.197984,-39.560440,12.570932,-39.560440,24.331769,-1.785714,24.577993
4416,"Minneapolis, MN",3712020,64.0,1680.139744,2024-09-30,-4.477612,3.560669,4.918033,5.873467,-9.859155,10.556547,-23.809524,15.606784,14.285714,17.987906
4417,"Tampa, FL",3342963,40.0,2089.115378,2024-09-30,-16.666667,1.446413,-14.893617,4.203829,-41.176471,16.985878,-35.483871,45.048978,-21.568627,52.569772
4418,"San Diego, CA",3269973,57.0,3059.988805,2024-09-30,-18.571429,1.469686,-5.000000,5.054607,-28.750000,19.977319,-26.923077,38.816990,1.785714,41.081551
4419,"Denver, CO",3005131,48.0,2040.429585,2024-09-30,-14.285714,1.830837,-5.882353,4.577521,-41.463415,12.008279,-37.662338,25.485400,-12.727273,26.543806
4420,"Baltimore, MD",2834316,62.0,1899.632144,2024-09-30,-7.462687,3.756141,-1.587302,6.738049,-7.462687,12.561177,-18.421053,25.960421,14.814815,27.824180
4421,"Orlando, FL",2817933,44.0,2066.918191,2024-09-30,-12.000000,1.428363,-12.000000,2.319846,-33.333333,16.712730,-22.807018,37.623450,-13.725490,39.424773
4422,"Charlotte, NC",2805115,46.0,1805.813209,2024-09-30,-24.590164,1.370737,-13.207547,3.733120,-36.986301,15.159312,-39.473684,32.439171,-13.207547,36.292136
4423,"St. Louis, MO",2796999,63.0,1408.552671,2024-09-30,-10.000000,5.242765,-8.695652,10.909040,-10.000000,21.133276,-8.695652,31.367012,23.529412,37.605352
4424,"San Antonio, TX",2703999,44.0,1487.862707,2024-09-30,-6.382979,0.108740,-15.384615,-0.381963,-37.142857,7.317580,-32.307692,20.102031,-13.725490,22.031246
4425,"Portland, OR",2508050,56.0,1884.693728,2024-09-30,-6.666667,3.726931,0.000000,3.158706,-30.000000,11.852295,-32.530120,23.159842,-1.754386,25.632074
4426,"Austin, TX",2473275,40.0,1751.890667,2024-09-30,0.000000,-3.302537,5.263158,-6.608883,-44.444444,1.080809,-54.022989,21.339677,-29.824561,20.929040
4427,"Pittsburgh, PA",2422725,46.0,1400.261877,2024-09-30,-16.363636,4.878027,-4.166667,8.025868,-11.538462,15.907630,-23.333333,24.593484,15.000000,28.865209
4428,"Sacramento, CA",2420608,62.0,2320.830850,2024-09-30,-10.144928,3.437094,10.714286,4.783015,-18.421053,10.635665,-26.190476,26.392614,6.896552,32.979602
4429,"Las Vegas, NV",2336573,54.0,1794.217118,2024-09-30,-11.475410,2.785539,14.893617,1.815596,-22.857143,6.789447,-18.181818,31.942117,0.000000,37.713239
4430,"Cincinnati, OH",2271479,54.0,1531.080690,2024-09-30,-16.923077,5.977520,-8.474576,11.603110,-10.000000,23.213516,-25.000000,35.037199,-35.714286,42.234198
4431,"Kansas City, MO",2221343,55.0,1479.004353,2024-09-30,-16.666667,5.792247,-12.698413,10.352218,-24.657534,21.638775,-28.571429,31.452936,0.000000,38.950106
4432,"Columbus, OH",2180271,53.0,1599.485962,2024-09-30,-15.873016,5.322985,-14.516129,9.355079,-28.378378,19.880532,-32.911392,31.365052,1.923077,37.680766
4433,"Indianapolis, IN",2138468,45.0,1564.241178,2024-09-30,-10.000000,5.197510,-8.163265,8.994861,-34.782609,20.192181,-31.818182,33.937057,-2.173913,42.474019
4434,"Nashville, TN",2102573,44.0,1898.956138,2024-09-30,-10.204082,1.541251,-6.382979,2.045360,-47.619048,12.667789,-29.032258,28.797853,-10.204082,31.356856
4435,"Cleveland, OH",2063132,65.0,1415.275439,2024-09-30,-5.797101,7.201169,10.169492,11.972983,1.562500,21.408250,-5.797101,32.121129,58.536585,40.095260
4436,"San Jose, CA",1945767,84.0,3430.921183,2024-09-30,-3.448276,3.758003,37.704918,3.763737,-13.402062,12.697239,-16.831683,17.621583,58.490566,11.834464
4437,"Virginia Beach, VA",1787169,57.0,1786.771187,2024-09-30,-12.307692,5.767821,-12.307692,10.245042,-21.917808,18.022989,-22.972973,37.129030,5.555556,44.208774
4438,"Jacksonville, FL",1713240,40.0,1743.854507,2024-09-30,-11.111111,1.037344,-13.043478,2.541209,-38.461538,12.175010,-34.426230,34.304010,-16.666667,40.236218
4439,"Providence, RI",1677803,72.0,2162.463552,2024-09-30,-7.692308,5.779776,4.347826,13.699821,-4.000000,25.550255,-12.195122,41.899229,28.571429,50.368613
4440,"Milwaukee, WI",1560424,51.0,1364.870024,2024-09-30,-5.555556,4.409122,13.333333,9.940380,10.869565,18.919051,-36.250000,27.305460,15.909091,30.682624
4441,"Raleigh, NC",1509231,54.0,1783.161451,2024-09-30,-20.588235,0.080844,-3.571429,1.010124,-40.659341,12.147139,-30.769231,29.504917,-3.571429,32.964729
4442,"Oklahoma City, OK",1477926,49.0,1375.918914,2024-09-30,-9.259259,3.724500,-10.909091,6.854663,-26.865672,14.589460,-20.967742,28.384613,-7.547170,33.178233
4443,"Louisville, KY",1365557,49.0,1377.850266,2024-09-30,-15.517241,6.407676,-10.909091,11.046370,-22.222222,23.083018,-30.985915,31.687486,16.666667,37.985978
4444,"Richmond, VA",1349732,66.0,1663.514686,2024-09-30,-13.157895,6.059545,-8.333333,8.257308,-16.455696,20.737409,-17.500000,35.150474,13.793103,41.160510
4445,"Memphis, TN",1335674,41.0,1502.879903,2024-09-30,-10.869565,4.283245,-24.074074,6.519797,-38.805970,14.034683,-54.444444,30.468851,-32.786885,41.684834
4446,"Salt Lake City, UT",1267864,57.0,1693.938100,2024-09-30,3.636364,2.377402,16.326531,2.590309,-24.000000,13.982108,-30.487805,31.762082,-3.389831,35.003983
4447,"Birmingham, AL",1184290,48.0,1441.167463,2024-09-30,-11.111111,3.750964,-14.285714,8.307799,-28.358209,16.192508,-27.272727,27.342460,-2.040816,32.570726
4448,"Grand Rapids, MI",1162950,56.0,1619.685263,2024-09-30,-18.840580,4.946506,-11.111111,9.611022,-30.864198,20.044705,-36.363636,35.468180,1.818182,41.644521
4449,"Buffalo, NY",1155604,84.0,1357.615617,2024-09-30,-6.666667,5.449779,7.692308,11.550107,-27.586207,21.752979,-33.333333,33.720670,31.250000,41.971293
4450,"Hartford, CT",1151543,83.0,1920.139081,2024-09-30,-14.432990,7.470061,0.000000,15.686789,3.750000,25.110164,9.210526,39.105499,62.745098,44.966695
4451,"Tucson, AZ",1063162,50.0,1621.090639,2024-09-30,-16.666667,2.158534,-1.960784,5.843864,-27.536232,15.599647,-29.577465,37.458820,-16.666667,47.486708
4452,"Rochester, NY",1052087,137.0,1456.431005,2024-09-30,-3.521127,4.043999,24.545455,9.843731,15.126050,19.844162,11.382114,32.675512,158.490566,38.649392
4453,"Urban Honolulu, HI",989408,37.0,2693.099648,2024-09-30,-26.000000,4.651561,-28.846154,8.328398,-54.878049,13.463317,-37.288136,25.143257,-36.206897,24.587344
4454,"New Orleans, LA",962165,35.0,1635.125963,2024-09-30,-7.894737,3.354400,-14.634146,5.671542,-33.962264,14.622728,-43.548387,25.000455,-23.913043,28.993796

In [22]:
# get rid of the row where name == 'United States'
result_df = result_df[result_df['name'] != 'United States']
result_df

,name,pop_2023,most_recent_heat,most_recent_zori,most_recent_date,heat_1yc,zori_1yc,heat_2yc,zori_2yc,heat_3yc,zori_3yc,heat_4yc,zori_4yc,heat_5yc,zori_5yc
4401,"New York, NY",19498249,74.0,3397.349448,2024-09-30,-3.896104,3.172544,21.311475,6.716819,5.714286,22.642024,-10.843373,NaN,37.037037,25.983810
4402,"Los Angeles, CA",12799100,63.0,2983.960991,2024-09-30,-13.698630,2.603796,0.000000,4.683614,-26.744186,14.996615,-25.882353,27.272240,-1.562500,26.655969
4403,"Chicago, IL",9262825,58.0,2044.046378,2024-09-30,-9.375000,4.796274,5.454545,10.704955,1.754386,20.455492,0.000000,28.133411,31.818182,27.470381
4404,"Dallas, TX",8100037,48.0,1789.640286,2024-09-30,-18.644068,0.204891,-18.644068,0.390309,-36.842105,11.162320,-32.394366,27.583504,-4.000000,29.484628
4405,"Houston, TX",7510253,48.0,1723.164820,2024-09-30,-7.692308,2.476841,-7.692308,4.943826,-23.809524,11.903694,-18.644068,23.326590,2.127660,24.404723
4406,"Atlanta, GA",6307261,44.0,1914.205588,2024-09-30,-22.807018,1.160364,-15.384615,1.569436,-39.726027,10.224934,-34.328358,31.374506,-15.384615,38.032981
4407,"Washington, DC",6304975,68.0,2430.352214,2024-09-30,-5.555556,4.797782,7.936508,7.996310,3.030303,16.098040,-12.820513,24.644578,9.677419,23.681786
4408,"Philadelphia, PA",6246160,58.0,1872.535793,2024-09-30,-7.936508,3.748446,-3.333333,7.179627,-10.769231,15.986065,-24.675325,26.053955,9.433962,29.233944
4409,"Miami, FL",6183199,36.0,2780.574069,2024-09-30,-18.181818,2.446006,-21.739130,4.919645,-33.333333,23.910896,-23.404255,54.214660,-10.000000,57.040240
4410,"Phoenix, AZ",5070110,53.0,1863.486869,2024-09-30,-8.620690,1.007444,20.454545,1.190640,-27.397260,7.605653,-31.168831,33.246326,-17.187500,42.837460
4411,"Boston, MA",4919179,74.0,2950.579861,2024-09-30,-6.329114,3.291788,7.246377,8.556276,-5.128205,20.009176,-11.904762,NaN,23.333333,25.235368
4412,"Riverside, CA",4688053,59.0,2569.959235,2024-09-30,-9.230769,3.784828,0.000000,5.474319,-21.333333,14.538300,-28.915663,37.086130,-3.278689,46.514425
4413,"San Francisco, CA",4566961,68.0,3090.437038,2024-09-30,-16.049383,2.276657,19.298246,1.965038,-33.333333,7.752029,-45.161290,NaN,-6.849315,6.836617
4414,"Detroit, MI",4342304,52.0,1491.409502,2024-09-30,-14.754098,5.369430,8.333333,7.896278,-13.333333,16.726348,-30.666667,30.683813,20.930233,38.243677
4415,"Seattle, WA",4044837,55.0,2273.427539,2024-09-30,-14.062500,3.560276,41.025641,4.197984,-39.560440,12.570932,-39.560440,24.331769,-1.785714,24.577993
4416,"Minneapolis, MN",3712020,64.0,1680.139744,2024-09-30,-4.477612,3.560669,4.918033,5.873467,-9.859155,10.556547,-23.809524,15.606784,14.285714,17.987906
4417,"Tampa, FL",3342963,40.0,2089.115378,2024-09-30,-16.666667,1.446413,-14.893617,4.203829,-41.176471,16.985878,-35.483871,45.048978,-21.568627,52.569772
4418,"San Diego, CA",3269973,57.0,3059.988805,2024-09-30,-18.571429,1.469686,-5.000000,5.054607,-28.750000,19.977319,-26.923077,38.816990,1.785714,41.081551
4419,"Denver, CO",3005131,48.0,2040.429585,2024-09-30,-14.285714,1.830837,-5.882353,4.577521,-41.463415,12.008279,-37.662338,25.485400,-12.727273,26.543806
4420,"Baltimore, MD",2834316,62.0,1899.632144,2024-09-30,-7.462687,3.756141,-1.587302,6.738049,-7.462687,12.561177,-18.421053,25.960421,14.814815,27.824180
4421,"Orlando, FL",2817933,44.0,2066.918191,2024-09-30,-12.000000,1.428363,-12.000000,2.319846,-33.333333,16.712730,-22.807018,37.623450,-13.725490,39.424773
4422,"Charlotte, NC",2805115,46.0,1805.813209,2024-09-30,-24.590164,1.370737,-13.207547,3.733120,-36.986301,15.159312,-39.473684,32.439171,-13.207547,36.292136
4423,"St. Louis, MO",2796999,63.0,1408.552671,2024-09-30,-10.000000,5.242765,-8.695652,10.909040,-10.000000,21.133276,-8.695652,31.367012,23.529412,37.605352
4424,"San Antonio, TX",2703999,44.0,1487.862707,2024-09-30,-6.382979,0.108740,-15.384615,-0.381963,-37.142857,7.317580,-32.307692,20.102031,-13.725490,22.031246
4425,"Portland, OR",2508050,56.0,1884.693728,2024-09-30,-6.666667,3.726931,0.000000,3.158706,-30.000000,11.852295,-32.530120,23.159842,-1.754386,25.632074
4426,"Austin, TX",2473275,40.0,1751.890667,2024-09-30,0.000000,-3.302537,5.263158,-6.608883,-44.444444,1.080809,-54.022989,21.339677,-29.824561,20.929040
4427,"Pittsburgh, PA",2422725,46.0,1400.261877,2024-09-30,-16.363636,4.878027,-4.166667,8.025868,-11.538462,15.907630,-23.333333,24.593484,15.000000,28.865209
4428,"Sacramento, CA",2420608,62.0,2320.830850,2024-09-30,-10.144928,3.437094,10.714286,4.783015,-18.421053,10.635665,-26.190476,26.392614,6.896552,32.979602
4429,"Las Vegas, NV",2336573,54.0,1794.217118,2024-09-30,-11.475410,2.785539,14.893617,1.815596,-22.857143,6.789447,-18.181818,31.942117,0.000000,37.713239
4430,"Cincinnati, OH",2271479,54.0,1531.080690,2024-09-30,-16.923077,5.977520,-8.474576,11.603110,-10.000000,23.213516,-25.000000,35.037199,-35.714286,42.234198
4431,"Kansas City, MO",2221343,55.0,1479.004353,2024-09-30,-16.666667,5.792247,-12.698413,10.352218,-24.657534,21.638775,-28.571429,31.452936,0.000000,38.950106
4432,"Columbus, OH",2180271,53.0,1599.485962,2024-09-30,-15.873016,5.322985,-14.516129,9.355079,-28.378378,19.880532,-32.911392,31.365052,1.923077,37.680766
4433,"Indianapolis, IN",2138468,45.0,1564.241178,2024-09-30,-10.000000,5.197510,-8.163265,8.994861,-34.782609,20.192181,-31.818182,33.937057,-2.173913,42.474019
4434,"Nashville, TN",2102573,44.0,1898.956138,2024-09-30,-10.204082,1.541251,-6.382979,2.045360,-47.619048,12.667789,-29.032258,28.797853,-10.204082,31.356856
4435,"Cleveland, OH",2063132,65.0,1415.275439,2024-09-30,-5.797101,7.201169,10.169492,11.972983,1.562500,21.408250,-5.797101,32.121129,58.536585,40.095260
4436,"San Jose, CA",1945767,84.0,3430.921183,2024-09-30,-3.448276,3.758003,37.704918,3.763737,-13.402062,12.697239,-16.831683,17.621583,58.490566,11.834464
4437,"Virginia Beach, VA",1787169,57.0,1786.771187,2024-09-30,-12.307692,5.767821,-12.307692,10.245042,-21.917808,18.022989,-22.972973,37.129030,5.555556,44.208774
4438,"Jacksonville, FL",1713240,40.0,1743.854507,2024-09-30,-11.111111,1.037344,-13.043478,2.541209,-38.461538,12.175010,-34.426230,34.304010,-16.666667,40.236218
4439,"Providence, RI",1677803,72.0,2162.463552,2024-09-30,-7.692308,5.779776,4.347826,13.699821,-4.000000,25.550255,-12.195122,41.899229,28.571429,50.368613
4440,"Milwaukee, WI",1560424,51.0,1364.870024,2024-09-30,-5.555556,4.409122,13.333333,9.940380,10.869565,18.919051,-36.250000,27.305460,15.909091,30.682624
4441,"Raleigh, NC",1509231,54.0,1783.161451,2024-09-30,-20.588235,0.080844,-3.571429,1.010124,-40.659341,12.147139,-30.769231,29.504917,-3.571429,32.964729
4442,"Oklahoma City, OK",1477926,49.0,1375.918914,2024-09-30,-9.259259,3.724500,-10.909091,6.854663,-26.865672,14.589460,-20.967742,28.384613,-7.547170,33.178233
4443,"Louisville, KY",1365557,49.0,1377.850266,2024-09-30,-15.517241,6.407676,-10.909091,11.046370,-22.222222,23.083018,-30.985915,31.687486,16.666667,37.985978
4444,"Richmond, VA",1349732,66.0,1663.514686,2024-09-30,-13.157895,6.059545,-8.333333,8.257308,-16.455696,20.737409,-17.500000,35.150474,13.793103,41.160510
4445,"Memphis, TN",1335674,41.0,1502.879903,2024-09-30,-10.869565,4.283245,-24.074074,6.519797,-38.805970,14.034683,-54.444444,30.468851,-32.786885,41.684834
4446,"Salt Lake City, UT",1267864,57.0,1693.938100,2024-09-30,3.636364,2.377402,16.326531,2.590309,-24.000000,13.982108,-30.487805,31.762082,-3.389831,35.003983
4447,"Birmingham, AL",1184290,48.0,1441.167463,2024-09-30,-11.111111,3.750964,-14.285714,8.307799,-28.358209,16.192508,-27.272727,27.342460,-2.040816,32.570726
4448,"Grand Rapids, MI",1162950,56.0,1619.685263,2024-09-30,-18.840580,4.946506,-11.111111,9.611022,-30.864198,20.044705,-36.363636,35.468180,1.818182,41.644521
4449,"Buffalo, NY",1155604,84.0,1357.615617,2024-09-30,-6.666667,5.449779,7.692308,11.550107,-27.586207,21.752979,-33.333333,33.720670,31.250000,41.971293
4450,"Hartford, CT",1151543,83.0,1920.139081,2024-09-30,-14.432990,7.470061,0.000000,15.686789,3.750000,25.110164,9.210526,39.105499,62.745098,44.966695
4451,"Tucson, AZ",1063162,50.0,1621.090639,2024-09-30,-16.666667,2.158534,-1.960784,5.843864,-27.536232,15.599647,-29.577465,37.458820,-16.666667,47.486708
4452,"Rochester, NY",1052087,137.0,1456.431005,2024-09-30,-3.521127,4.043999,24.545455,9.843731,15.126050,19.844162,11.382114,32.675512,158.490566,38.649392
4453,"Urban Honolulu, HI",989408,37.0,2693.099648,2024-09-30,-26.000000,4.651561,-28.846154,8.328398,-54.878049,13.463317,-37.288136,25.143257,-36.206897,24.587344
4454,"New Orleans, LA",962165,35.0,1635.125963,2024-09-30,-7.894737,3.354400,-14.634146,5.671542,-33.962264,14.622728,-43.548387,25.000455,-23.913043,28.993796

In [23]:
result_df.to_csv('heat_zori_change.csv', index=False)

## County-level ZORI

In [25]:
# read in dataset
zori_county_wide = pd.read_csv('zori_county_wide.csv')

In [26]:
zori_county_wide

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2015-01-31,...,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,1772.233330,...,2781.392933,2790.984699,2806.559612,2818.306197,2832.959966,2843.172159,2855.280776,2860.267225,2866.158878,2864.485813
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,1435.502882,...,1959.531317,1977.697210,1994.035895,2016.505413,2035.329287,2052.307491,2058.995184,2058.724405,2053.468827,2050.046257
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,1209.258458,...,1617.771137,1623.586590,1627.669268,1634.432534,1643.115290,1651.857699,1656.103747,1659.403192,1660.990009,1661.050802
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,946.265039,...,1807.744140,1817.532983,1829.010826,1838.896814,1844.315428,1844.660359,1845.222578,1844.396037,1843.692712,1834.325759
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,1677.175588,...,2915.727434,2926.751971,2947.220213,2973.295343,2992.198023,3010.152866,3021.397169,3024.128523,3021.844445,3016.945905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139,1454,2387,Valley County,county,ID,ID,NaN,16,85,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2389.925973,2496.286661,2490.427483,2422.222222
1140,882,2404,Blanco County,county,TX,TX,NaN,48,31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1522.500000
1141,849,2427,Barnes County,county,ND,ND,NaN,38,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,675.000000
1142,3091,2537,Clear Creek County,county,CO,CO,"Denver-Aurora-Lakewood, CO",8,19,NaN,...,NaN,1966.434031,1954.364984,1926.850603,2010.620514,2073.015581,2217.398398,2159.719950,2127.814807,2141.666667
1143,218,2706,Lake County,county,CO,CO,NaN,8,65,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2153.420753,2211.772328,2181.444444

In [27]:
city_url="https://files.zillowstatic.com/research/public_csvs/zori/City_zori_uc_sfrcondomfr_sm_month.csv?t=1731500153"

zori_city_wide = pd.read_csv(city_url)

zori_city_wide

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2015-01-31,2015-02-28,...,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2587.763910,2601.317483,...,3418.660982,3441.818650,3479.779712,3521.599530,3566.218024,3602.408290,3623.310551,3626.255932,3610.147253,3588.009470
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1832.085994,1846.886631,...,2764.835185,2773.061229,2790.218999,2798.116175,2813.341666,2823.474038,2835.624980,2841.185911,2845.166081,2841.904776
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,1204.679956,1207.849641,...,1583.649554,1587.833029,1589.934978,1596.244950,1604.682951,1614.205123,1618.122597,1620.913116,1622.145159,1622.090395
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,1490.228156,1499.179988,...,1998.929092,2021.507452,2041.024737,2065.813532,2085.337895,2103.861898,2110.319761,2106.824901,2098.357757,2089.818133
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,1011.869573,1015.373921,...,1441.342916,1443.468088,1449.610244,1457.796435,1462.353818,1462.674424,1462.867317,1460.521666,1454.304022,1439.218446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3521,47500,22678,Sagaponack,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100077.473146,80000.000000
3522,9422,22811,Tonka Bay,city,MN,MN,"Minneapolis-St. Paul-Bloomington, MN-WI",Hennepin County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000
3523,30203,24266,Amagansett,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40522.779326,57500.000000
3524,47768,26546,South Padre Island,city,TX,TX,"Brownsville-Harlingen, TX",Cameron County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2729.000000
3525,860532,28683,Fort Mohave,city,AZ,AZ,"Lake Havasu City-Kingman, AZ",Mohave County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1673.084333,1691.666667

## population centroids

In [28]:
import pandas as pd

In [29]:
county_centroids_url = "https://www2.census.gov/geo/docs/reference/cenpop2020/county/CenPop2020_Mean_CO.txt"

county_centroids = pd.read_csv(county_centroids_url)

county_centroids.to_csv('county_centroids.csv', index=False)

In [30]:
county_centroids.dtypes

STATEFP         int64
COUNTYFP        int64
COUNAME        object
STNAME         object
POPULATION      int64
LATITUDE      float64
LONGITUDE     float64
dtype: object

In [31]:
county_centroids

,STATEFP,COUNTYFP,COUNAME,STNAME,POPULATION,LATITUDE,LONGITUDE
0,1,1,Autauga,Alabama,58805,32.500194,-86.487813
1,1,3,Baldwin,Alabama,231767,30.537396,-87.761478
2,1,5,Barbour,Alabama,25223,31.843981,-85.301306
3,1,7,Bibb,Alabama,22293,33.032236,-87.136826
4,1,9,Blount,Alabama,59134,33.954604,-86.592667
...,...,...,...,...,...,...,...
3216,72,145,Vega Baja,Puerto Rico,54414,18.439692,-66.399082
3217,72,147,Vieques,Puerto Rico,8249,18.134221,-65.448953
3218,72,149,Villalba,Puerto Rico,22093,18.123806,-66.486557
3219,72,151,Yabucoa,Puerto Rico,30426,18.068957,-65.885852
3220,72,153,Yauco,Puerto Rico,34172,18.043328,-66.859541

In [32]:
county_centroids[county_centroids['STNAME'] == 'Connecticut']

,STATEFP,COUNTYFP,COUNAME,STNAME,POPULATION,LATITUDE,LONGITUDE
309,9,1,Fairfield,Connecticut,957419,41.206021,-73.367214
310,9,3,Hartford,Connecticut,899498,41.761165,-72.717868
311,9,5,Litchfield,Connecticut,185186,41.726958,-73.190432
312,9,7,Middlesex,Connecticut,164245,41.479018,-72.571631
313,9,9,New Haven,Connecticut,864835,41.396593,-72.942327
314,9,11,New London,Connecticut,268555,41.443271,-72.097543
315,9,13,Tolland,Connecticut,149788,41.842288,-72.372969
316,9,15,Windham,Connecticut,116418,41.805080,-71.993508

In [33]:
# create fips column
county_centroids['fips'] = county_centroids['STATEFP'] * 1000 + county_centroids['COUNTYFP']

county_centroids

,STATEFP,COUNTYFP,COUNAME,STNAME,POPULATION,LATITUDE,LONGITUDE,fips
0,1,1,Autauga,Alabama,58805,32.500194,-86.487813,1001
1,1,3,Baldwin,Alabama,231767,30.537396,-87.761478,1003
2,1,5,Barbour,Alabama,25223,31.843981,-85.301306,1005
3,1,7,Bibb,Alabama,22293,33.032236,-87.136826,1007
4,1,9,Blount,Alabama,59134,33.954604,-86.592667,1009
...,...,...,...,...,...,...,...,...
3216,72,145,Vega Baja,Puerto Rico,54414,18.439692,-66.399082,72145
3217,72,147,Vieques,Puerto Rico,8249,18.134221,-65.448953,72147
3218,72,149,Villalba,Puerto Rico,22093,18.123806,-66.486557,72149
3219,72,151,Yabucoa,Puerto Rico,30426,18.068957,-65.885852,72151
3220,72,153,Yauco,Puerto Rico,34172,18.043328,-66.859541,72153

In [34]:
county_centroids[county_centroids['STNAME'] == 'Connecticut']

,STATEFP,COUNTYFP,COUNAME,STNAME,POPULATION,LATITUDE,LONGITUDE,fips
309,9,1,Fairfield,Connecticut,957419,41.206021,-73.367214,9001
310,9,3,Hartford,Connecticut,899498,41.761165,-72.717868,9003
311,9,5,Litchfield,Connecticut,185186,41.726958,-73.190432,9005
312,9,7,Middlesex,Connecticut,164245,41.479018,-72.571631,9007
313,9,9,New Haven,Connecticut,864835,41.396593,-72.942327,9009
314,9,11,New London,Connecticut,268555,41.443271,-72.097543,9011
315,9,13,Tolland,Connecticut,149788,41.842288,-72.372969,9013
316,9,15,Windham,Connecticut,116418,41.805080,-71.993508,9015

In [35]:
# read in population data
pop_est = pd.read_excel('PopulationEstimates.xlsx', skiprows=4,)

pop_est

,FIPStxt,State,Area_Name,Rural_Urban_Continuum_Code_2013,Rural_Urban_Continuum_Code_2023,Urban_Influence_2013,Economic_typology_2015,CENSUS_2020_POP,ESTIMATES_BASE_2020,POP_ESTIMATE_2020,...,R_NATURAL_CHG_2023,R_INTERNATIONAL_MIG_2021,R_INTERNATIONAL_MIG_2022,R_INTERNATIONAL_MIG_2023,R_DOMESTIC_MIG_2021,R_DOMESTIC_MIG_2022,R_DOMESTIC_MIG_2023,R_NET_MIG_2021,R_NET_MIG_2022,R_NET_MIG_2023
0,0,US,United States,NaN,NaN,NaN,NaN,331449281.0,331464948.0,331526933.0,...,1.5,1.1,3.0,3.4,0.0,0.0,0.0,1.1,3.0,3.4
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,5024279.0,5024294.0,5031864.0,...,-0.3,0.4,0.9,1.1,5.5,5.6,6.0,5.9,6.5,7.1
2,1001,AL,Autauga County,2.0,2.0,2.0,0.0,58805.0,58809.0,58915.0,...,1.5,0.3,0.4,0.6,4.1,8.5,8.2,4.4,8.9,8.7
3,1003,AL,Baldwin County,3.0,3.0,2.0,5.0,231767.0,231768.0,233227.0,...,-0.4,0.4,1.0,1.2,29.5,29.0,27.2,29.9,30.0,28.4
4,1005,AL,Barbour County,6.0,6.0,6.0,3.0,25223.0,25229.0,24969.0,...,-3.4,0.0,0.1,0.5,-12.6,9.6,-1.8,-12.6,9.7,-1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,1.0,1.0,1.0,NaN,54414.0,54414.0,54357.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3279,72147,PR,Vieques Municipio,7.0,6.0,12.0,NaN,8249.0,8249.0,8236.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3280,72149,PR,Villalba Municipio,2.0,2.0,2.0,NaN,22093.0,22093.0,22041.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3281,72151,PR,Yabucoa Municipio,1.0,1.0,1.0,NaN,30426.0,30426.0,30329.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3282,72153,PR,Yauco Municipio,2.0,2.0,2.0,NaN,34172.0,34172.0,34048.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
pop_est[pop_est['State'] == 'CT']

,FIPStxt,State,Area_Name,Rural_Urban_Continuum_Code_2013,Rural_Urban_Continuum_Code_2023,Urban_Influence_2013,Economic_typology_2015,CENSUS_2020_POP,ESTIMATES_BASE_2020,POP_ESTIMATE_2020,...,R_NATURAL_CHG_2023,R_INTERNATIONAL_MIG_2021,R_INTERNATIONAL_MIG_2022,R_INTERNATIONAL_MIG_2023,R_DOMESTIC_MIG_2021,R_DOMESTIC_MIG_2022,R_DOMESTIC_MIG_2023,R_NET_MIG_2021,R_NET_MIG_2022,R_NET_MIG_2023
316,9000,CT,Connecticut,NaN,NaN,NaN,NaN,3605944.0,3605912.0,3577586.0,...,0.6,1.7,4.3,4.2,5.3,-2.8,-2.5,7.0,1.5,1.7
317,9001,CT,Fairfield County,2.0,NaN,2.0,0.0,957419.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
318,9003,CT,Hartford County,1.0,NaN,1.0,0.0,899498.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,9005,CT,Litchfield County,4.0,NaN,3.0,0.0,185186.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,9007,CT,Middlesex County,1.0,NaN,1.0,0.0,164245.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,9009,CT,New Haven County,2.0,NaN,2.0,0.0,864835.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322,9011,CT,New London County,2.0,NaN,2.0,0.0,268555.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,9013,CT,Tolland County,1.0,NaN,1.0,4.0,149788.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,9015,CT,Windham County,2.0,NaN,2.0,0.0,116418.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,9110,CT,Capitol Planning Region,NaN,1.0,NaN,NaN,NaN,976275.0,962436.0,...,0.3,1.8,4.6,4.5,6.2,-2.0,-1.4,7.9,2.6,3.1
326,9120,CT,Greater Bridgeport Planning Region,NaN,2.0,NaN,NaN,NaN,325774.0,324387.0,...,3.0,2.8,6.5,6.3,1.7,-8.0,-7.8,4.5,-1.5,-1.5
327,9130,CT,Lower Connecticut River Valley Planning Region,NaN,1.0,NaN,NaN,NaN,174225.0,173268.0,...,-1.7,0.7,2.2,2.1,14.3,3.5,0.9,15.0,5.7,3.0
328,9140,CT,Naugatuck Valley Planning Region,NaN,2.0,NaN,NaN,NaN,450435.0,449285.0,...,0.4,1.1,3.2,3.0,5.4,0.4,2.2,6.6,3.6,5.2
329,9150,CT,Northeastern Connecticut Planning Region,NaN,4.0,NaN,NaN,NaN,95336.0,95222.0,...,-1.9,0.3,1.1,1.0,6.2,6.7,6.5,6.5,7.7,7.6
330,9160,CT,Northwest Hills Planning Region,NaN,4.0,NaN,NaN,NaN,112465.0,112202.0,...,-2.4,0.6,2.0,1.9,8.8,4.2,2.2,9.5,6.2,4.1
331,9170,CT,South Central Connecticut Planning Region,NaN,2.0,NaN,NaN,NaN,570455.0,564076.0,...,0.4,1.8,3.9,4.0,6.2,-3.5,-4.8,8.0,0.5,-0.8
332,9180,CT,Southeastern Connecticut Planning Region,NaN,2.0,NaN,NaN,NaN,280428.0,278342.0,...,-1.3,1.2,2.1,2.1,1.9,1.5,0.6,3.2,3.6,2.6
333,9190,CT,Western Connecticut Planning Region,NaN,2.0,NaN,NaN,NaN,620519.0,618368.0,...,2.6,2.5,6.5,6.4,3.1,-9.5,-7.4,5.6,-3.1,-1.0

In [37]:
pop_2023 = pop_est[['FIPStxt', 'POP_ESTIMATE_2023']]
pop_2023

      FIPStxt  POP_ESTIMATE_2023
0           0        334914895.0
1        1000          5108468.0
2        1001            60342.0
3        1003           253507.0
4        1005            24585.0
...       ...                ...
3278    72145            53527.0
3279    72147             7999.0
3280    72149            21285.0
3281    72151            28897.0
3282    72153            32406.0

[3283 rows x 2 columns]

In [38]:
# unified col names
pop_2023.columns = ['fips', 'pop_2023']

In [39]:
# merge county centroids with population data
county_centroids = county_centroids.merge(
    pop_2023,
    on='fips',
    how='left'
)

# drop unnecessary columns
county_centroids.drop(
    columns=['STATEFP', 'COUNTYFP', 'POPULATION', 'COUNAME', 'STNAME'],
    inplace=True
)

county_centroids

       LATITUDE  LONGITUDE   fips  pop_2023
0     32.500194 -86.487813   1001   60342.0
1     30.537396 -87.761478   1003  253507.0
2     31.843981 -85.301306   1005   24585.0
3     33.032236 -87.136826   1007   21868.0
4     33.954604 -86.592667   1009   59816.0
...         ...        ...    ...       ...
3216  18.439692 -66.399082  72145   53527.0
3217  18.134221 -65.448953  72147    7999.0
3218  18.123806 -66.486557  72149   21285.0
3219  18.068957 -65.885852  72151   28897.0
3220  18.043328 -66.859541  72153   32406.0

[3221 rows x 4 columns]

In [40]:
# rename columns
county_centroids.columns = ['lat', 'lng', 'fips', 'pop_2023']

county_centroids

            lat        lng   fips  pop_2023
0     32.500194 -86.487813   1001   60342.0
1     30.537396 -87.761478   1003  253507.0
2     31.843981 -85.301306   1005   24585.0
3     33.032236 -87.136826   1007   21868.0
4     33.954604 -86.592667   1009   59816.0
...         ...        ...    ...       ...
3216  18.439692 -66.399082  72145   53527.0
3217  18.134221 -65.448953  72147    7999.0
3218  18.123806 -66.486557  72149   21285.0
3219  18.068957 -65.885852  72151   28897.0
3220  18.043328 -66.859541  72153   32406.0

[3221 rows x 4 columns]

In [41]:
# form a fips col for zori_county_wide
zori_county_wide['fips'] = zori_county_wide['StateCodeFIPS'] * 1000 + zori_county_wide['MunicipalCodeFIPS']

# form a name col for zori_county_wide
zori_county_wide['name'] = zori_county_wide['RegionName'] + ', ' + zori_county_wide['State']

zori_county_wide

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2015-01-31,...,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,fips,name
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,1772.233330,...,2806.559612,2818.306197,2832.959966,2843.172159,2855.280776,2860.267225,2866.158878,2864.485813,6037,"Los Angeles County, CA"
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,1435.502882,...,1994.035895,2016.505413,2035.329287,2052.307491,2058.995184,2058.724405,2053.468827,2050.046257,17031,"Cook County, IL"
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,1209.258458,...,1627.669268,1634.432534,1643.115290,1651.857699,1656.103747,1659.403192,1660.990009,1661.050802,48201,"Harris County, TX"
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,946.265039,...,1829.010826,1838.896814,1844.315428,1844.660359,1845.222578,1844.396037,1843.692712,1834.325759,4013,"Maricopa County, AZ"
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,1677.175588,...,2947.220213,2973.295343,2992.198023,3010.152866,3021.397169,3024.128523,3021.844445,3016.945905,6073,"San Diego County, CA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139,1454,2387,Valley County,county,ID,ID,NaN,16,85,NaN,...,NaN,NaN,NaN,NaN,2389.925973,2496.286661,2490.427483,2422.222222,16085,"Valley County, ID"
1140,882,2404,Blanco County,county,TX,TX,NaN,48,31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1522.500000,48031,"Blanco County, TX"
1141,849,2427,Barnes County,county,ND,ND,NaN,38,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,675.000000,38003,"Barnes County, ND"
1142,3091,2537,Clear Creek County,county,CO,CO,"Denver-Aurora-Lakewood, CO",8,19,NaN,...,1954.364984,1926.850603,2010.620514,2073.015581,2217.398398,2159.719950,2127.814807,2141.666667,8019,"Clear Creek County, CO"
1143,218,2706,Lake County,county,CO,CO,NaN,8,65,NaN,...,NaN,NaN,NaN,NaN,NaN,2153.420753,2211.772328,2181.444444,8065,"Lake County, CO"

In [42]:
# merge with population centroids
zori_county_wide = zori_county_wide.merge(
    county_centroids,
    on = 'fips',
    how='left'
)

zori_county_wide

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2015-01-31,...,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,fips,name,lat,lng,pop_2023
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,1772.233330,...,2843.172159,2855.280776,2860.267225,2866.158878,2864.485813,6037,"Los Angeles County, CA",34.067886,-118.245990,9663345.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,1435.502882,...,2052.307491,2058.995184,2058.724405,2053.468827,2050.046257,17031,"Cook County, IL",41.869515,-87.757998,5087072.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,1209.258458,...,1651.857699,1656.103747,1659.403192,1660.990009,1661.050802,48201,"Harris County, TX",29.816889,-95.425716,4835125.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,946.265039,...,1844.660359,1845.222578,1844.396037,1843.692712,1834.325759,4013,"Maricopa County, AZ",33.490147,-112.044016,4585871.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,1677.175588,...,3010.152866,3021.397169,3024.128523,3021.844445,3016.945905,6073,"San Diego County, CA",32.884418,-117.112348,3269973.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139,1454,2387,Valley County,county,ID,ID,NaN,16,85,NaN,...,NaN,2389.925973,2496.286661,2490.427483,2422.222222,16085,"Valley County, ID",44.766234,-116.074739,12644.0
1140,882,2404,Blanco County,county,TX,TX,NaN,48,31,NaN,...,NaN,NaN,NaN,NaN,1522.500000,48031,"Blanco County, TX",30.177148,-98.392080,13048.0
1141,849,2427,Barnes County,county,ND,ND,NaN,38,3,NaN,...,NaN,NaN,NaN,NaN,675.000000,38003,"Barnes County, ND",46.926891,-98.030382,10726.0
1142,3091,2537,Clear Creek County,county,CO,CO,"Denver-Aurora-Lakewood, CO",8,19,NaN,...,2073.015581,2217.398398,2159.719950,2127.814807,2141.666667,8019,"Clear Creek County, CO",39.713458,-105.532527,9147.0
1143,218,2706,Lake County,county,CO,CO,NaN,8,65,NaN,...,NaN,NaN,2153.420753,2211.772328,2181.444444,8065,"Lake County, CO",39.244814,-106.307470,7365.0

In [43]:
# create list of index cols

index_cols = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS', 'fips', 'name', 'lat', 'lng', 'pop_2023']

In [44]:
# melt
zori_county_long = pd.melt(
    zori_county_wide,
    id_vars = index_cols,
    value_vars = [col for col in zori_county_wide.columns if col not in index_cols],
    var_name = "date",
    value_name = "zori"
)

zori_county_long

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,fips,name,lat,lng,pop_2023,date,zori
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,6037,"Los Angeles County, CA",34.067886,-118.245990,9663345.0,2015-01-31,1772.233330
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,17031,"Cook County, IL",41.869515,-87.757998,5087072.0,2015-01-31,1435.502882
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,48201,"Harris County, TX",29.816889,-95.425716,4835125.0,2015-01-31,1209.258458
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,4013,"Maricopa County, AZ",33.490147,-112.044016,4585871.0,2015-01-31,946.265039
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,6073,"San Diego County, CA",32.884418,-117.112348,3269973.0,2015-01-31,1677.175588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134987,1454,2387,Valley County,county,ID,ID,NaN,16,85,16085,"Valley County, ID",44.766234,-116.074739,12644.0,2024-10-31,2422.222222
134988,882,2404,Blanco County,county,TX,TX,NaN,48,31,48031,"Blanco County, TX",30.177148,-98.392080,13048.0,2024-10-31,1522.500000
134989,849,2427,Barnes County,county,ND,ND,NaN,38,3,38003,"Barnes County, ND",46.926891,-98.030382,10726.0,2024-10-31,675.000000
134990,3091,2537,Clear Creek County,county,CO,CO,"Denver-Aurora-Lakewood, CO",8,19,8019,"Clear Creek County, CO",39.713458,-105.532527,9147.0,2024-10-31,2141.666667
134991,218,2706,Lake County,county,CO,CO,NaN,8,65,8065,"Lake County, CO",39.244814,-106.307470,7365.0,2024-10-31,2181.444444

In [45]:
# keep only necessary cols

zori_county_long_clean = zori_county_long[['name','RegionType', 'fips', 'lat', 'lng', 'pop_2023', 'date', 'zori']]

# rename RegionType to type  
zori_county_long_clean.rename(
    columns={'RegionType':'type'},
    inplace=True
)

zori_county_long_clean

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_49420/4174632225.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_county_long_clean.rename(

,name,type,fips,lat,lng,pop_2023,date,zori
0,"Los Angeles County, CA",county,6037,34.067886,-118.245990,9663345.0,2015-01-31,1772.233330
1,"Cook County, IL",county,17031,41.869515,-87.757998,5087072.0,2015-01-31,1435.502882
2,"Harris County, TX",county,48201,29.816889,-95.425716,4835125.0,2015-01-31,1209.258458
3,"Maricopa County, AZ",county,4013,33.490147,-112.044016,4585871.0,2015-01-31,946.265039
4,"San Diego County, CA",county,6073,32.884418,-117.112348,3269973.0,2015-01-31,1677.175588
...,...,...,...,...,...,...,...,...
134987,"Valley County, ID",county,16085,44.766234,-116.074739,12644.0,2024-10-31,2422.222222
134988,"Blanco County, TX",county,48031,30.177148,-98.392080,13048.0,2024-10-31,1522.500000
134989,"Barnes County, ND",county,38003,46.926891,-98.030382,10726.0,2024-10-31,675.000000
134990,"Clear Creek County, CO",county,8019,39.713458,-105.532527,9147.0,2024-10-31,2141.666667
134991,"Lake County, CO",county,8065,39.244814,-106.307470,7365.0,2024-10-31,2181.444444

In [46]:
# convert date to datetime
zori_county_long_clean['date'] = pd.to_datetime(zori_county_long_clean['date'])

zori_county_long_clean.dtypes

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_49420/425820618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_county_long_clean['date'] = pd.to_datetime(zori_county_long_clean['date'])

name                object
type                object
fips                 int64
lat                float64
lng                float64
pop_2023           float64
date        datetime64[ns]
zori               float64
dtype: object

In [47]:
zori_county_long_clean

,name,type,fips,lat,lng,pop_2023,date,zori
0,"Los Angeles County, CA",county,6037,34.067886,-118.245990,9663345.0,2015-01-31,1772.233330
1,"Cook County, IL",county,17031,41.869515,-87.757998,5087072.0,2015-01-31,1435.502882
2,"Harris County, TX",county,48201,29.816889,-95.425716,4835125.0,2015-01-31,1209.258458
3,"Maricopa County, AZ",county,4013,33.490147,-112.044016,4585871.0,2015-01-31,946.265039
4,"San Diego County, CA",county,6073,32.884418,-117.112348,3269973.0,2015-01-31,1677.175588
...,...,...,...,...,...,...,...,...
134987,"Valley County, ID",county,16085,44.766234,-116.074739,12644.0,2024-10-31,2422.222222
134988,"Blanco County, TX",county,48031,30.177148,-98.392080,13048.0,2024-10-31,1522.500000
134989,"Barnes County, ND",county,38003,46.926891,-98.030382,10726.0,2024-10-31,675.000000
134990,"Clear Creek County, CO",county,8019,39.713458,-105.532527,9147.0,2024-10-31,2141.666667
134991,"Lake County, CO",county,8065,39.244814,-106.307470,7365.0,2024-10-31,2181.444444

In [48]:
# create 1-5 year percent change columns
for years in range(1, 6):
    zori_county_long_clean[f'zori_{years}yc'] = zori_county_long_clean.groupby('name')['zori'].pct_change(12 * years) * 100

zori_county_long_clean

/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_49420/3591455114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_county_long_clean[f'zori_{years}yc'] = zori_county_long_clean.groupby('name')['zori'].pct_change(12 * years) * 100
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_49420/3591455114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_county_long_clean[f'zori_{years}yc'] = zori_county_long_clean.groupby('name')['zori'].pct_change(12 * years) * 100
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_49420/3591455114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_county_long_clean[f'zori_{years}yc'] = zori_county_long_clean.groupby('name')['zori'].pct_change(12 * years) * 100
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_49420/3591455114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_county_long_clean[f'zori_{years}yc'] = zori_county_long_clean.groupby('name')['zori'].pct_change(12 * years) * 100
/var/folders/jd/5wy1jytx2pg8j4jr12tl0k_m0000gn/T/ipykernel_49420/3591455114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zori_county_long_clean[f'zori_{years}yc'] = zori_county_long_clean.groupby('name')['zori'].pct_change(12 * years) * 100

,name,type,fips,lat,lng,pop_2023,date,zori,zori_1yc,zori_2yc,zori_3yc,zori_4yc,zori_5yc
0,"Los Angeles County, CA",county,6037,34.067886,-118.245990,9663345.0,2015-01-31,1772.233330,NaN,NaN,NaN,NaN,NaN
1,"Cook County, IL",county,17031,41.869515,-87.757998,5087072.0,2015-01-31,1435.502882,NaN,NaN,NaN,NaN,NaN
2,"Harris County, TX",county,48201,29.816889,-95.425716,4835125.0,2015-01-31,1209.258458,NaN,NaN,NaN,NaN,NaN
3,"Maricopa County, AZ",county,4013,33.490147,-112.044016,4585871.0,2015-01-31,946.265039,NaN,NaN,NaN,NaN,NaN
4,"San Diego County, CA",county,6073,32.884418,-117.112348,3269973.0,2015-01-31,1677.175588,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134987,"Valley County, ID",county,16085,44.766234,-116.074739,12644.0,2024-10-31,2422.222222,NaN,NaN,NaN,NaN,NaN
134988,"Blanco County, TX",county,48031,30.177148,-98.392080,13048.0,2024-10-31,1522.500000,NaN,NaN,NaN,NaN,NaN
134989,"Barnes County, ND",county,38003,46.926891,-98.030382,10726.0,2024-10-31,675.000000,NaN,NaN,NaN,NaN,NaN
134990,"Clear Creek County, CO",county,8019,39.713458,-105.532527,9147.0,2024-10-31,2141.666667,NaN,NaN,NaN,NaN,NaN
134991,"Lake County, CO",county,8065,39.244814,-106.307470,7365.0,2024-10-31,2181.444444,NaN,NaN,NaN,NaN,NaN

In [49]:
zori_county_long_clean[zori_county_long_clean['name'] == 'Los Angeles County, CA']

,name,type,fips,lat,lng,pop_2023,date,zori,zori_1yc,zori_2yc,zori_3yc,zori_4yc,zori_5yc
0,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2015-01-31,1772.233330,NaN,NaN,NaN,NaN,NaN
1144,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2015-02-28,1785.665889,NaN,NaN,NaN,NaN,NaN
2288,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2015-03-31,1803.519293,NaN,NaN,NaN,NaN,NaN
3432,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2015-04-30,1817.369008,NaN,NaN,NaN,NaN,NaN
4576,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2015-05-31,1833.268269,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129272,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2024-06-30,2843.172159,2.372683,5.466577,19.232548,22.641302,23.275274
130416,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2024-07-31,2855.280776,2.599813,5.132398,17.807460,23.113088,23.349293
131560,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2024-08-31,2860.267225,2.481632,4.660005,15.929150,23.386763,23.212354
132704,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2024-09-30,2866.158878,2.638852,4.467771,14.599237,23.944455,23.289986
133848,"Los Angeles County, CA",county,6037,34.067886,-118.24599,9663345.0,2024-10-31,2864.485813,2.609013,4.480718,13.513826,24.097537,23.128455

In [50]:
# save to csv
zori_county_long_clean.to_csv('zori_county_long_clean.csv', index=False)